# Importing and Reading the data

In [ ]:
#import libraries
from sklearn.datasets import load_files
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV 
import matplotlib.pyplot as plt
import numpy as np
import datetime
from datetime import date, timedelta
import pandas as pd
import seaborn as sns
from google.colab import drive
! pip install pattern
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import pattern
from pattern.en import lemma, lexeme

Requirement already satisfied: pattern in /usr/local/lib/python3.7/dist-packages (3.6)
Requirement already satisfied: pdfminer.six in /usr/local/lib/python3.7/dist-packages (from pattern) (20201018)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pattern) (3.2.5)
Requirement already satisfied: cherrypy in /usr/local/lib/python3.7/dist-packages (from pattern) (18.6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pattern) (2.23.0)
Requirement already satisfied: feedparser in /usr/local/lib/python3.7/dist-packages (from pattern) (6.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pattern) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pattern) (1.19.5)
Requirement already satisfied: backports.csv in /usr/local/lib/python3.7/dist-packages (from pattern) (1.0.7)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pattern) (0.16.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pattern) (4.2.6)
Requirement already satisfied: python-docx in /usr/local/lib/python3.7/dist-packages (from pattern) (0.8.10)
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.7/dist-packages (from pattern) (2.0.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from pattern) (4.6.3)
Requirement already satisfied: chardet; python_version > "3.0" in /usr/local/lib/python3.7/dist-packages (from pdfminer.six->pattern) (3.0.4)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from pdfminer.six->pattern) (2.3.0)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from pdfminer.six->pattern) (3.4.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->pattern) (1.15.0)
Requirement already satisfied: jaraco.collections in /usr/local/lib/python3.7/dist-packages (from cherrypy->pattern) (3.2.0)
Requirement already satisfied: portend>=2.1.1 in /usr/local/lib/python3.7/dist-packages (from cherrypy->pattern) (2.7.1)
Requirement already satisfied: cheroot>=8.2.1 in /usr/local/lib/python3.7/dist-packages (from cherrypy->pattern) (8.5.2)
Requirement already satisfied: zc.lockfile in /usr/local/lib/python3.7/dist-packages (from cherrypy->pattern) (2.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from cherrypy->pattern) (8.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pattern) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pattern) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pattern) (2.10)
Requirement already satisfied: sgmllib3k in /usr/local/lib/python3.7/dist-packages (from feedparser->pattern) (1.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->pdfminer.six->pattern) (1.14.5)
Requirement already satisfied: jaraco.text in /usr/local/lib/python3.7/dist-packages (from jaraco.collections->cherrypy->pattern) (3.5.0)
Requirement already satisfied: jaraco.classes in /usr/local/lib/python3.7/dist-packages (from jaraco.collections->cherrypy->pattern) (3.2.1)
Requirement already satisfied: tempora>=1.8 in /usr/local/lib/python3.7/dist-packages (from portend>=2.1.1->cherrypy->pattern) (4.0.1)
Requirement already satisfied: jaraco.functools in /usr/local/lib/python3.7/dist-packages (from cheroot>=8.2.1->cherrypy->pattern) (3.2.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zc.lockfile->cherrypy->pattern) (54.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->pdfminer.six->pattern) (2.20)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from tempora>=1.8->portend>=2.1.1->cherrypy->pattern) (2018.9)

In [ ]:
# pick data from google drive 
drive.mount('/content/gdrive')
path = "/content/gdrive/MyDrive/Noticias_Premier_League/"
path2= "/content/gdrive/MyDrive/finaldataset.csv"

#path = '/content/gdrive/MyDrive/Noticias_Premier_League'
#path2 = '/content/gdrive/MyDrive/csv_files/finaldataset.csv'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Preparing Data

## Create functions to use in DataFrame

In [ ]:
# Create function to change de format of date
def change_data(v,x,d):
  if len(v[d][x])==8:
    year = '2'+'0'+v[d][x][6]+v[d][x][7]
    month = v[d][x][3]+ v[d][x][4]
    day = v[d][x][0]+ v[d][x][1]
    date = year+'-'+month+'-'+day
    return date
  elif len(v[d][x])==10:
      year = v[d][x][6]+v[d][x][7]+v[d][x][8]+v[d][x][9]
      month = v[d][x][3]+ v[d][x][4]
      day = v[d][x][0]+ v[d][x][1]
      date = year+'-'+month+'-'+day
      return date

In [ ]:
# Create function to apply dummies
def dummies(resultado_d,x):
  if x == 'H':
    resultado_d.append(1)
  elif x=='D':
    resultado_d.append(2)
  elif x=='A':
    resultado_d.append(3)

In [ ]:
# Create a function to pick news ten days ago the game 
def get_news(dataframe,x,timev,casa):
  time = dataframe[casa][x] 
  vetor_resultado = []
  if time in timev:
    vetor_noticias=[]
    arquivo_noticias = times[time]
    data_atual = date.fromisoformat(dataframe['Date'][x])
    for y in range (1,11):
      data_analisada = data_atual - timedelta(days=y)
      data = data_analisada.isoformat()
      n_atual =arquivo_noticias.loc[arquivo_noticias['date']==data]
      vetor = np.array(n_atual)
      for k in range (0,len(vetor)):
          texto = ''
          for h in range(3,6):
            texto = texto+''+vetor[k][h]
          vetor_noticias.append(texto)
    data_frame_vetor = pd.DataFrame(vetor_noticias)
    data_frame_vetor.drop_duplicates(inplace = True)
    vetor_resultado = np.array(data_frame_vetor)
  return vetor_resultado

##Create dataframes using created fuctions in data

In [ ]:
## tirar esse unnamed (quando ler o df, fazer index_col = [0])

In [ ]:
# Create dataframe with date of games and replace abbreviations of teams
dfp = pd.read_csv(path2, index_col = [0])
dfp.replace('Man United','Manchester United',inplace=True)
dfp.replace ('Man City','Manchester City',inplace=True)
dfp

            Date         HomeTeam  ... DiffFormPts  DiffLP
0       19/08/00         Charlton  ...    0.000000     0.0
1       19/08/00          Chelsea  ...    0.000000    -4.0
2       19/08/00         Coventry  ...    0.000000     2.0
3       19/08/00            Derby  ...    0.000000     1.0
4       19/08/00            Leeds  ...    0.000000   -10.0
...          ...              ...  ...         ...     ...
7595  26/07/2020        Leicester  ...   -0.105263     3.0
7596  26/07/2020  Manchester City  ...    0.315789     1.0
7597  26/07/2020        Newcastle  ...   -0.210526    11.0
7598  26/07/2020      Southampton  ...    0.052632    16.0
7599  26/07/2020         West Ham  ...    0.026316    10.0

[7600 rows x 46 columns]

In [ ]:
# apply change data in dfp
for x in range (0,len(dfp)):
  dfp['Date'][x]=change_data(dfp,x,'Date')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Separate target
resultado = dfp['FTR']

In [ ]:
# apply dummies in results
resultado_d = []
for y in resultado:
  dummies(resultado_d,y)

In [ ]:
# Create Features NoticiasHomeTeam and NoticiasAway
noticias_home = []
noticias_away = []
for x in range(0,len(resultado_d)):
  noticias_home.append('ok')
  noticias_away.append('ok')

In [ ]:
# Create DataFrame with news and results of games 
dataframer ={'Date':dfp['Date'],'HomeTeam':dfp['HomeTeam'],'AwayTeam':dfp['AwayTeam'],'Resultado':resultado_d,'Noticias Home':noticias_home,'Noticias Away':noticias_away}
dataframerpd = pd.DataFrame(dataframer)
dataframerpd.drop_duplicates(inplace = True)
dataframerpd

            Date         HomeTeam  ... Noticias Home  Noticias Away
0     2000-08-19         Charlton  ...            ok             ok
1     2000-08-19          Chelsea  ...            ok             ok
2     2000-08-19         Coventry  ...            ok             ok
3     2000-08-19            Derby  ...            ok             ok
4     2000-08-19            Leeds  ...            ok             ok
...          ...              ...  ...           ...            ...
7595  2020-07-26        Leicester  ...            ok             ok
7596  2020-07-26  Manchester City  ...            ok             ok
7597  2020-07-26        Newcastle  ...            ok             ok
7598  2020-07-26      Southampton  ...            ok             ok
7599  2020-07-26         West Ham  ...            ok             ok

[7600 rows x 6 columns]

In [ ]:
# Create dataframes news of teams
team0=pd.read_csv(path + 'Arsenal FC.csv' )
team1=pd.read_csv(path + 'Aston Villa.csv' )
team2=pd.read_csv(path + 'Brighton &amp; Hove Albion.csv' )
team3=pd.read_csv(path + 'Burnley FC.csv' )
team4=pd.read_csv(path + 'Chelsea FC.csv' )
team5=pd.read_csv(path + 'Crystal Palace.csv' )
team6=pd.read_csv(path + 'Everton FC.csv' )
team7=pd.read_csv(path + 'Fulham FC.csv' )
team8=pd.read_csv(path + 'Leeds United.csv' )
team9=pd.read_csv(path + 'Leicester City.csv' )
team10=pd.read_csv(path + 'Liverpool FC.csv' )
team11=pd.read_csv(path + 'Manchester City.csv' )
team12=pd.read_csv(path + 'Manchester United.csv' )
team13=pd.read_csv(path + 'Newcastle United.csv' )
team14=pd.read_csv(path + 'Sheffield United.csv' )
team15=pd.read_csv(path + 'Southampton FC.csv' )
team16=pd.read_csv(path + 'Tottenham Hotspur.csv' )
team17=pd.read_csv(path + 'West Bromwich Albion.csv' )
team18=pd.read_csv(path + 'West Ham United.csv' )
team19=pd.read_csv(path + 'Wolverhampton Wanderers.csv' )

In [ ]:
# Create diconary relating teams with yours dataframes 
times = {'Arsenal FC':team0,'Aston Villa':team1,'Brighton &amp; Hove Albion':team2,'Burnley FC':team3,'Chelsea FC':team4, 'Crystal Palace':team5,'Everton FC':team6,'Fulham FC':team7,'Leeds United':team8,'Leicester City':team9,'Liverpool FC':team10,'Manchester City':team11,'Manchester United':team12,'Newcastle United':team13,'Sheffield United':team14,'Southampton FC':team15,'Tottenham Hotspur':team16,'West Bromwich Albion':team17,'West Ham United':team18,'Wolverhampton Wanderers':team19}
times_vetor = list(times.keys())

In [ ]:
# Create a Dataframe with games as from 2013
df = dataframerpd[4758:]
df.reset_index(drop = True, inplace= True)
df

            Date         HomeTeam  ... Noticias Home  Noticias Away
0     2013-01-01  Manchester City  ...            ok             ok
1     2013-01-01      Southampton  ...            ok             ok
2     2013-01-01          Swansea  ...            ok             ok
3     2013-01-01        Tottenham  ...            ok             ok
4     2013-01-01        West Brom  ...            ok             ok
...          ...              ...  ...           ...            ...
2837  2020-07-26        Leicester  ...            ok             ok
2838  2020-07-26  Manchester City  ...            ok             ok
2839  2020-07-26        Newcastle  ...            ok             ok
2840  2020-07-26      Southampton  ...            ok             ok
2841  2020-07-26         West Ham  ...            ok             ok

[2842 rows x 6 columns]

In [ ]:
# apply data change in news
for x in times_vetor:
  time = times[x]
  for y in range(0,len(time)):
    time['date'][y]=change_data(time,y,'date')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
#Add HomeTeam and AwayTeam news
for x in range (0,len(df)):
    df['Noticias Home'][x]=get_news(df,x,times_vetor,'HomeTeam')
    df['Noticias Away'][x]=get_news(df,x,times_vetor,'AwayTeam')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

# Create a fuction to generate a vector that will be use in TfidfVectorizer

In [ ]:
def vetor_lemma(df):
# Create a vetor with news to use in TfidfVectorizer  
  vetor_news = []
  for x in range(0,len(df)):
     vetor_news.append(df['Noticias Home'][x])
     vetor_news.append(df['Noticias Away'][x])
     vector_news_clean = []
  # Clean text of vetor_news
  clean= ['0','1','2','3','4','5','6','7','8','9','@','©','&','/','\"','-']
  for x in range (0,len(vetor_news)):
      add = ''
      if vetor_news[x] is not np.nan:
          for y in range (0,len(vetor_news[x])):
              if(vetor_news[x][y] not in clean):
                  add = add + vetor_news[x][y]
      vector_news_clean.append(add)
  # Drop duplicates in vector_news_clean
  vetor = list(dict.fromkeys(vector_news_clean))
  vector_train =[]
  # Apply lemmatization
  for x in range (0,len(vetor)):
      vector_train.append(" ".join([lemma(wd) for wd in vetor[x].split()]))
  return vector_train

# Create and apply models with First approach to create dictionary with TfidfVectorizer

## Transform news in lists with only one text

In [ ]:
df['Noticias Away'][2837]

array([['European football and survival up for grabs in Premier League finaleThe Premier League will finally reach the end of its longest season on Sunday with plenty still on the line at both ends of the table.Manchester United and Leicester face each other in a shootout for a place in the Champions League next season with Chelsea also hoping to secure their place in the top four. Wolves and Tottenham are vying for one place in the Europa League. And at the bottom it could not be closer with one goal separating Aston Villa just outside the relegation zone from Watford in the bottom three, while Bournemouth also have a chance of beating the drop. Leicester fell out of the top four for the first time since September in midweek after a run of three wins in 13 games either side of the coronavirus shutdown. However, United\'s and Chelsea\'s failures to win on Wednesday means the door is still open for Brendan Rodgers\'s men to salvage all the good work they did early in the season with victory on home soil on Sunday. Leicester are hampered by injuries to James Maddison, Ben Chilwell and Ricardo Pereira, but have had a full week to prepare in stark contrast to United\'s packed schedule. Ole Gunnar Solskjaer\'s men have looked jaded in the past week in losing 3-1 to Chelsea in the FA Cup semi-finals and being held 1-1 at home by West Ham. United have overturned an eight-point deficit to Leicester since the restart, but Rodgers is hoping it is the Red Devils who fold under the pressure. "We would love to be able to do that but when you are a club like Manchester United, or one of those super clubs, there is a need to be in the Champions League for many reasons," said Rodgers. Chelsea just need a point at home to Wolves to seal Champions League football next season, but should Frank Lampard\'s men lose, then a draw between Leicester and United would see the latter two finish in the top four. Whoever misses out on the Champions League between United, Chelsea and Leicester will be guaranteed fifth and a place in the Europa League next season. Wolves are looking to go one better than their fine first campaign back in the top-flight last season by finishing in the top six and have the potential to upset Chelsea\'s push for the Champions League at Stamford Bridge. However, any slip from Nuno Espirito Santo\'s men would give Spurs the chance to move into sixth. Jose Mourinho\'s side have won their last three and will be confident ahead of a trip to Crystal Palace, who have lost their last seven games. Seventh could still be good enough for European football next season, but that depends on Chelsea beating Arsenal in the FA Cup final on August 1. At the bottom, two of Bournemouth, Watford and Villa will join already relegated Norwich in the Championship next season. Villa have the upper hand with a three-point lead on Bournemouth and a marginally better goal difference than Watford. Dean Smith\'s men also have momentum after a 1-0 win over Arsenal on Tuesday and travel to a West Ham side now sure of their place in the Premier League next season. "Results went our way in the week and we\'re above the dotted line at the moment," said Smith. "The most important thing is to be above that dotted line on Sunday and we know we have to win to guarantee that." Watford\'s sacking of Nigel Pearson with just two games of the season remaining did the Hornets little good in a 4-0 thrashing at the hands of Manchester City on Wednesday and they travel to Arsenal needing to better Villa\'s result. Should both lose then Bournemouth could extend their five-season stay in the top-flight by beating Everton at Goodison Park. "The next game is the biggest game of all our careers," said Bournemouth boss Eddie Howe. Fixtures (all games 1500 GMT Sunday): Arsenal v Watford, Burnley v Brighton, Chelsea v Wolves, Crystal Palace v Tottenham, Everton v Bournemouth, Leicester v Man Utd, Man City v Norwich, Newcastle v Liverpool, Southampton v Sheff Utd, West Ham v Aston Villa'],
       ['Solskjaer wants Man Utd to \'dominate\' Leicester on final dayManchester United manager Ole Gunnar Solskjaer said Friday that he will not settle for the point that would guarantee his side a return to the Champions League next season when the Red Devils travel to Leicester.United sit third in the Premier League table going into the final day of the season, but defeat at the King Power on Sunday would see them fall to fifth should Chelsea avoid losing at home to Wolves. "We\'ve given ourselves a good chance of being in the Champions League next year but we can\'t go into a game thinking about what the outcome can be," Solskjaer said. "We\'ve just got to go and perform and perform at a high enough level and standard so we can get a result. "We want to go there and dominate the game. We wanted to get this position to be able to go to Leicester and having to beat them and we\'re not going to change our approach. We want to go there and try and win the game." Solskjaer\'s men have overturned an eight-point deficit to Leicester in eight games since English football\'s return from a three-month hiatus, but have looked low on energy in recent games as they crashed out of the FA Cup to Chelsea last weekend and were held 1-1 at home by West Ham on Wednesday. However, the Norwegian insists he is still delighted with the progress that has been made this season with his side on a 13-match unbeaten run in the league stretching back to January. "We\'re going to go into it with a strong frame of mind. It\'s not job done, we have got to this point and we have one more game in this season," added Solskjaer. "That\'s this season, this is a journey for this team. This is one extra step on the journey for this team, which we\'ve come a long way. "Mentally I think we\'ve shown more robustness, resilience, when we\'ve lost the first goal in games, for example, but we\'ve also shown the heights when everything\'s flowing, which you can\'t expect every time. "I\'m delighted with how the development looks." A return to the Champions League is vital for the health of United\'s finances, but they will have a second chance even if they lose at Leicester should they win the Europa League when it returns next month.'],
       ['Solskjaer urges Man Utd to seize \'fantastic opportunity\' in Champions League pushOle Gunnar Solskjaer urged his Manchester United stars to seize a "fantastic opportunity" to qualify for the Champions League after Mason Greenwood rescued a 1-1 draw against West Ham on Wednesday.Solskjaer\'s side fell behind to Michail Antonio\'s penalty in the first half at Old Trafford. But teenage forward Greenwood struck after the interval to lift United into third place in the Premier League. They are ahead of fourth placed Chelsea on goal difference after the Blues lost 5-3 at champions Liverpool. United will finish in the top four if they draw or win in their decisive showdown with fifth placed Leicester on Sunday. United are one point ahead of Leicester going into their last game of the season at the King Power Stadium. "When we started after the lockdown, we had to go for it. We had to go for goal difference, we had to go for points," Solskjaer said. "The effort has been fantastic and the results have been fantastic. "Going into half-time we knew that wasn\'t the result we wanted. But you can\'t expect to turn teams over like we needed to have a different scenario for Sunday. "We\'ve given ourselves a fantastic opportunity and a great starting point for Sunday." Solskjaer\'s team were well below their best against West Ham, but they are now unbeaten in 13 league matches and will complete an impressive surge into the Champions League if they emerge unscathed at Leicester. They can also qualify for Europe\'s elite club competition if they win the Europa League in August. Solskjaer will have been relieved there were no costly mistakes from David De Gea after the United keeper retained his place. The Spaniard made two embarrassing errors that led to goals in United\'s 3-1 FA Cup semi-final defeat against Chelsea on Sunday. West Ham\'s point ensured they are mathematically certain to avoid relegation. After their sluggish loss at Wembley ended a 19-match unbeaten run in all competitions, Solskjaer\'s men made a more enterprising start this time and West Ham keeper Lukasz Fabianski was tested twice inside the first four minutes. Anthony Martial\'s stinging strike from just inside the penalty area forced an excellent save from Fabianski, who then plunged to his right to keep out Greenwood\'s effort. Rashford tried his luck from 30 yards, but the forward\'s powerful drive was too close to Fabianski, while Greenwood\'s close-range shot was blocked by Ogbonna. De Gea had been a spectator for the first 40 minutes and when he was finally called into action, Antonio\'s header lacked the power to trouble him. But De Gea still had to pick the ball out of the net moments before half-time after Paul Pogba handed West Ham a penalty. Declan Rice\'s free-kick was smashed straight at Pogba, who instinctively stuck up his arms to protect his face. Despite Pogba dropping to the turf as though he had been hit in the head, VAR confirmed the France midfielder\'s handball. Antonio took the spot-kick, sending De Gea the wrong way for his sixth goal in his last three games. United had let the first half drift out of their control, but Greenwood dragged them level with another demonstration of his remarkable maturity in the 51st minute. Dropping deep to exchange passes with Martial, the 18-year-old kept his composure to drill a clinical finish past Fabianski from 12 yards. No teenager has ever scored more goals in a single season in all competitions for United than Greenwood, whose 17th of the season moved him level with George Best, Brian Kidd and Wayne Rooney. "He\'s bailed us out a few times and he\'s done it again," Solskjaer said. "He\'s been absolutely top class ever since we gave him an opportunity. "He trusts himself that his talent, his qualities, attributes, they actually work at the highest level."'],
       ['Man Utd edge closer to Champions League after West Ham drawManchester United edged closer to qualifying for the Champions League as Mason Greenwood rescued a 1-1 draw against West Ham on Wednesday.Ole Gunnar Solskjaer\'s side fell behind to Michail Antonio\'s penalty in the first half at Old Trafford. But teenage forward Greenwood struck after the interval to lift United into third place in the Premier League. United are ahead of fourth placed Chelsea on goal difference, but the Blues would regain third if they avoid defeat against champions Liverpool later on Wednesday. Regardless of the result at Anfield, United will finish in the top four if they draw or win in their decisive showdown with fifth placed Leicester on Sunday. United are one point ahead of Leicester going into their last game of the season at the King Power Stadium. Solskjaer\'s team were well below their best against West Ham, but they are now unbeaten in 13 league matches and will complete an impressive surge into the Champions League if they emerge unscathed at Leicester. They can also qualify for Europe\'s elite club competition if they win the Europa League in August. Solskjaer will have been relieved there were no costly mistakes from David De Gea after the United keeper retained his place. The Spaniard made two embarrassing errors that led to goals in United\'s 3-1 FA Cup semi-final defeat against Chelsea on Sunday. But De Gea has started every league game since Solskjaer took charge and the United manager backed him in a pre-match interview, saying: "Form might be temporary but class is permanent is that saying and he\'s an absolutely top keeper." West Ham\'s point ensured they are mathematically certain to avoid relegation. Beaten for the first time in 20 matches in all competitions at the weekend, United had no time to sulk as they looked to secure that lucrative Champions League berth. United knew draws against West Ham and Leicester would be enough to secure a top four finish. After their sluggish show at Wembley, Solskjaer\'s men made a more enterprising start this time and West Ham keeper Lukasz Fabianski was tested twice inside the first four minutes. Anthony Martial\'s stinging strike from just inside the penalty area forced an excellent save from Fabianski, who then plunged to his right to keep out Greenwood\'s effort. Rashford tried his luck from 30 yards, but the forward\'s powerful drive was too close to Fabianski, while Greenwood\'s close-range shot was blocked by Ogbonna. De Gea had been a spectator for the first 40 minutes and when he was finally called into action, Antonio\'s header lacked the power to trouble him. But De Gea still had to pick the ball out of the net moments before half-time after Paul Pogba handed West Ham a penalty. Declan Rice\'s free-kick was smashed straight at Pogba, who instinctively stuck up his arms to protect his face. Despite Pogba dropping to the turf as though he had been hit in the head, VAR confirmed the France midfielder\'s handball. Antonio took the spot-kick, sending De Gea the wrong way for his sixth goal in his last three games. United had let the first half drift out of their control, but Greenwood dragged them level with another demonstration of his remarkable maturity in the 51st minute. Dropping deep to exchange passes with Martial, the 18-year-old kept his composure to drill a clinical finish past Fabianski from 12 yards. No teenager has ever scored more goals in a single season in all competitions for United than Greenwood, whose 17th of the season moved him level with George Best, Brian Kidd and Wayne Rooney. With Bruno Fernandes unable to exert his usual influence, United fell away after Greenwood\'s goal and De Gea made a superb tip-over from Jarrod Bowen\'s venomous blast before Rice shot narrowly wide from 25 yards.'],
       ['Solskjaer defends \'mentally strong\' De Gea after errorsDavid de Gea is mentally strong enough to deal with fierce criticism following a series of costly goalkeeping blunders for Manchester United, manager Ole Gunnar Solskjaer said on Tuesday.The 29-year-old Spaniard\'s place as United\'s number one is under severe pressure after he was at fault for two goals in United\'s 3-1 FA Cup semi-final defeat against Chelsea on Sunday. It came after other glaring errors over the past 18 months from De Gea, previously considered among the best goalkeepers in the world. Solskjaer, speaking at his pre-match press conference, was determined to keep the focus on Wednesday\'s game against West Ham rather than the struggles of his goalkeeper. "This is not going to become a David de Gea press conference," he said. "We\'re just going to stick together. We\'ve got two games, so we\'re just going to focus on that one. "David\'s mentally strong enough to know that his job is to perform in training the next day and then be ready for the games." Dean Henderson is snapping at De Gea\'s heels after impressing on loan at Sheffield United while Sergio Romero, the back-up goalkeeper surprisingly omitted from the FA Cup semi-final starting line-up, is waiting in the wings. Solskjaer has a significant decision to make about the position for their penultimate Premier League match of the season, given victory would give his fifth-placed side a huge boost in the Champions League race. Leicester\'s 3-0 loss at Tottenham on Sunday means United are not only level with the fourth-placed Foxes on 62 points but on goal difference as well, with the clubs going toe-to-toe at the King Power Stadium in fascinating season finale on Sunday. Solskjaer was under intense pressure himself earlier in the season but a long unbeaten run either side of the coronavirus shutdown has turned their campaign around. The Norwegian said it was clear that United were on the right track. "It is in our own hands," he said. "I don\'t want to talk about how much it (Champions League) will mean financially or to attract people. We just have to focus on the next two games and make sure we are there." Eric Bailly was taken to hospital after a nasty clash of heads with fellow United defender Harry Maguire on Sunday and Solskjaer said he was unlikely to feature against West Ham. "Eric stayed down in London after for all the checks," he said. "I didn\'t see him yesterday. He\'s following the protocols that\'s needed so, for me, I don\'t think that he\'ll be ready for this game."'],

In [ ]:
# Transform the vectos of HomeTeam in a list with one text
for x in range(0,len(df)):
  textos = ' '
  for y in range(0,len(df['Noticias Home'][x])):
    atual= df['Noticias Home'][x][y][0]
    textos = textos +''+atual
  df['Noticias Home'][x] = textos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# Transform the vectos of AwayTeam in a list with one text
for x in range(0,len(df)):
  textos = ' '
  for y in range(0,len(df['Noticias Away'][x])):
    atual= df['Noticias Away'][x][y][0]
    textos = textos +''+atual
  df['Noticias Away'][x] = textos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df

            Date  ...                                      Noticias Away
0     2013-01-01  ...
1     2013-01-01  ...
2     2013-01-01  ...
3     2013-01-01  ...
4     2013-01-01  ...
...          ...  ...                                                ...
2837  2020-07-26  ...   European football and survival up for grabs i...
2838  2020-07-26  ...
2839  2020-07-26  ...
2840  2020-07-26  ...   Wolves bolster Europa League bid, Blades blun...
2841  2020-07-26  ...

[2842 rows x 6 columns]

In [ ]:
df['Noticias Away'][2837]

' European football and survival up for grabs in Premier League finaleThe Premier League will finally reach the end of its longest season on Sunday with plenty still on the line at both ends of the table.Manchester United and Leicester face each other in a shootout for a place in the Champions League next season with Chelsea also hoping to secure their place in the top four. Wolves and Tottenham are vying for one place in the Europa League. And at the bottom it could not be closer with one goal separating Aston Villa just outside the relegation zone from Watford in the bottom three, while Bournemouth also have a chance of beating the drop. Leicester fell out of the top four for the first time since September in midweek after a run of three wins in 13 games either side of the coronavirus shutdown. However, United\'s and Chelsea\'s failures to win on Wednesday means the door is still open for Brendan Rodgers\'s men to salvage all the good work they did early in the season with victory on home soil on Sunday. Leicester are hampered by injuries to James Maddison, Ben Chilwell and Ricardo Pereira, but have had a full week to prepare in stark contrast to United\'s packed schedule. Ole Gunnar Solskjaer\'s men have looked jaded in the past week in losing 3-1 to Chelsea in the FA Cup semi-finals and being held 1-1 at home by West Ham. United have overturned an eight-point deficit to Leicester since the restart, but Rodgers is hoping it is the Red Devils who fold under the pressure. "We would love to be able to do that but when you are a club like Manchester United, or one of those super clubs, there is a need to be in the Champions League for many reasons," said Rodgers. Chelsea just need a point at home to Wolves to seal Champions League football next season, but should Frank Lampard\'s men lose, then a draw between Leicester and United would see the latter two finish in the top four. Whoever misses out on the Champions League between United, Chelsea and Leicester will be guaranteed fifth and a place in the Europa League next season. Wolves are looking to go one better than their fine first campaign back in the top-flight last season by finishing in the top six and have the potential to upset Chelsea\'s push for the Champions League at Stamford Bridge. However, any slip from Nuno Espirito Santo\'s men would give Spurs the chance to move into sixth. Jose Mourinho\'s side have won their last three and will be confident ahead of a trip to Crystal Palace, who have lost their last seven games. Seventh could still be good enough for European football next season, but that depends on Chelsea beating Arsenal in the FA Cup final on August 1. At the bottom, two of Bournemouth, Watford and Villa will join already relegated Norwich in the Championship next season. Villa have the upper hand with a three-point lead on Bournemouth and a marginally better goal difference than Watford. Dean Smith\'s men also have momentum after a 1-0 win over Arsenal on Tuesday and travel to a West Ham side now sure of their place in the Premier League next season. "Results went our way in the week and we\'re above the dotted line at the moment," said Smith. "The most important thing is to be above that dotted line on Sunday and we know we have to win to guarantee that." Watford\'s sacking of Nigel Pearson with just two games of the season remaining did the Hornets little good in a 4-0 thrashing at the hands of Manchester City on Wednesday and they travel to Arsenal needing to better Villa\'s result. Should both lose then Bournemouth could extend their five-season stay in the top-flight by beating Everton at Goodison Park. "The next game is the biggest game of all our careers," said Bournemouth boss Eddie Howe. Fixtures (all games 1500 GMT Sunday): Arsenal v Watford, Burnley v Brighton, Chelsea v Wolves, Crystal Palace v Tottenham, Everton v Bournemouth, Leicester v Man Utd, Man City v Norwich, Newcastle v Liverpool, Southampton v Sheff Utd, West Ham v Aston VillaSolskjaer wants Man Utd to \'dominate\' Leicester on final dayManchester United manager Ole Gunnar Solskjaer said Friday that he will not settle for the point that would guarantee his side a return to the Champions League next season when the Red Devils travel to Leicester.United sit third in the Premier League table going into the final day of the season, but defeat at the King Power on Sunday would see them fall to fifth should Chelsea avoid losing at home to Wolves. "We\'ve given ourselves a good chance of being in the Champions League next year but we can\'t go into a game thinking about what the outcome can be," Solskjaer said. "We\'ve just got to go and perform and perform at a high enough level and standard so we can get a result. "We want to go there and dominate the game. We wanted to get this position to be able to go to Leicester and having to beat them and we\'re not going to change our approach. We want to go there and try and win the game." Solskjaer\'s men have overturned an eight-point deficit to Leicester in eight games since English football\'s return from a three-month hiatus, but have looked low on energy in recent games as they crashed out of the FA Cup to Chelsea last weekend and were held 1-1 at home by West Ham on Wednesday. However, the Norwegian insists he is still delighted with the progress that has been made this season with his side on a 13-match unbeaten run in the league stretching back to January. "We\'re going to go into it with a strong frame of mind. It\'s not job done, we have got to this point and we have one more game in this season," added Solskjaer. "That\'s this season, this is a journey for this team. This is one extra step on the journey for this team, which we\'ve come a long way. "Mentally I think we\'ve shown more robustness, resilience, when we\'ve lost the first goal in games, for example, but we\'ve also shown the heights when everything\'s flowing, which you can\'t expect every time. "I\'m delighted with how the development looks." A return to the Champions League is vital for the health of United\'s finances, but they will have a second chance even if they lose at Leicester should they win the Europa League when it returns next month.Solskjaer urges Man Utd to seize \'fantastic opportunity\' in Champions League pushOle Gunnar Solskjaer urged his Manchester United stars to seize a "fantastic opportunity" to qualify for the Champions League after Mason Greenwood rescued a 1-1 draw against West Ham on Wednesday.Solskjaer\'s side fell behind to Michail Antonio\'s penalty in the first half at Old Trafford. But teenage forward Greenwood struck after the interval to lift United into third place in the Premier League. They are ahead of fourth placed Chelsea on goal difference after the Blues lost 5-3 at champions Liverpool. United will finish in the top four if they draw or win in their decisive showdown with fifth placed Leicester on Sunday. United are one point ahead of Leicester going into their last game of the season at the King Power Stadium. "When we started after the lockdown, we had to go for it. We had to go for goal difference, we had to go for points," Solskjaer said. "The effort has been fantastic and the results have been fantastic. "Going into half-time we knew that wasn\'t the result we wanted. But you can\'t expect to turn teams over like we needed to have a different scenario for Sunday. "We\'ve given ourselves a fantastic opportunity and a great starting point for Sunday." Solskjaer\'s team were well below their best against West Ham, but they are now unbeaten in 13 league matches and will complete an impressive surge into the Champions League if they emerge unscathed at Leicester. They can also qualify for Europe\'s elite club competition if they win the Europa League in August. Solskjaer will have been relieved there were no costly mistakes from David De Gea after the United keeper retained his place. The Spaniard made two embarrassing errors that led to goals in United\'s 3-1 FA Cup semi-final defeat against Chelsea on Sunday. West Ham\'s point ensured they are mathematically certain to avoid relegation. After their sluggish loss at Wembley ended a 19-match unbeaten run in all competitions, Solskjaer\'s men made a more enterprising start this time and West Ham keeper Lukasz Fabianski was tested twice inside the first four minutes. Anthony Martial\'s stinging strike from just inside the penalty area forced an excellent save from Fabianski, who then plunged to his right to keep out Greenwood\'s effort. Rashford tried his luck from 30 yards, but the forward\'s powerful drive was too close to Fabianski, while Greenwood\'s close-range shot was blocked by Ogbonna. De Gea had been a spectator for the first 40 minutes and when he was finally called into action, Antonio\'s header lacked the power to trouble him. But De Gea still had to pick the ball out of the net moments before half-time after Paul Pogba handed West Ham a penalty. Declan Rice\'s free-kick was smashed straight at Pogba, who instinctively stuck up his arms to protect his face. Despite Pogba dropping to the turf as though he had been hit in the head, VAR confirmed the France midfielder\'s handball. Antonio took the spot-kick, sending De Gea the wrong way for his sixth goal in his last three games. United had let the first half drift out of their control, but Greenwood dragged them level with another demonstration of his remarkable maturity in the 51st minute. Dropping deep to exchange passes with Martial, the 18-year-old kept his composure to drill a clinical finish past Fabianski from 12 yards. No teenager has ever scored more goals in a single season in all competitions for United than Greenwood, whose 17th of the season moved him level with George Best, Brian Kidd and Wayne Rooney. "He\'s bailed us out a few times and he\'s done it again," Solskjaer said. "He\'s been absolutely top class ever since we gave him an opportunity. "He trusts himself that his talent, his qualities, attributes, they actually work at the highest level."Man Utd edge closer to Champions League after West Ham drawManchester United edged closer to qualifying for the Champions League as Mason Greenwood rescued a 1-1 draw against West Ham on Wednesday.Ole Gunnar Solskjaer\'s side fell behind to Michail Antonio\'s penalty in the first half at Old Trafford. But teenage forward Greenwood struck after the interval to lift United into third place in the Premier League. United are ahead of fourth placed Chelsea on goal difference, but the Blues would regain third if they avoid defeat against champions Liverpool later on Wednesday. Regardless of the result at Anfield, United will finish in the top four if they draw or win in their decisive showdown with fifth placed Leicester on Sunday. United are one point ahead of Leicester going into their last game of the season at the King Power Stadium. Solskjaer\'s team were well below their best against West Ham, but they are now unbeaten in 13 league matches and will complete an impressive surge into the Champions League if they emerge unscathed at Leicester. They can also qualify for Europe\'s elite club competition if they win the Europa League in August. Solskjaer will have been relieved there were no costly mistakes from David De Gea after the United keeper retained his place. The Spaniard made two embarrassing errors that led to goals in United\'s 3-1 FA Cup semi-final defeat against Chelsea on Sunday. But De Gea has started every league game since Solskjaer took charge and the United manager backed him in a pre-match interview, saying: "Form might be temporary but class is permanent is that saying and he\'s an absolutely top keeper." West Ham\'s point ensured they are mathematically certain to avoid relegation. Beaten for the first time in 20 matches in all competitions at the weekend, United had no time to sulk as they looked to secure that lucrative Champions League berth. United knew draws against West Ham and Leicester would be enough to secure a top four finish. After their sluggish show at Wembley, Solskjaer\'s men made a more enterprising start this time and West Ham keeper Lukasz Fabianski was tested twice inside the first four minutes. Anthony Martial\'s stinging strike from just inside the penalty area forced an excellent save from Fabianski, who then plunged to his right to keep out Greenwood\'s effort. Rashford tried his luck from 30 yards, but the forward\'s powerful drive was too close to Fabianski, while Greenwood\'s close-range shot was blocked by Ogbonna. De Gea had been a spectator for the first 40 minutes and when he was finally called into action, Antonio\'s header lacked the power to trouble him. But De Gea still had to pick the ball out of the net moments before half-time after Paul Pogba handed West Ham a penalty. Declan Rice\'s free-kick was smashed straight at Pogba, who instinctively stuck up his arms to protect his face. Despite Pogba dropping to the turf as though he had been hit in the head, VAR confirmed the France midfielder\'s handball. Antonio took the spot-kick, sending De Gea the wrong way for his sixth goal in his last three games. United had let the first half drift out of their control, but Greenwood dragged them level with another demonstration of his remarkable maturity in the 51st minute. Dropping deep to exchange passes with Martial, the 18-year-old kept his composure to drill a clinical finish past Fabianski from 12 yards. No teenager has ever scored more goals in a single season in all competitions for United than Greenwood, whose 17th of the season moved him level with George Best, Brian Kidd and Wayne Rooney. With Bruno Fernandes unable to exert his usual influence, United fell away after Greenwood\'s goal and De Gea made a superb tip-over from Jarrod Bowen\'s venomous blast before Rice shot narrowly wide from 25 yards.Solskjaer defends \'mentally strong\' De Gea after errorsDavid de Gea is mentally strong enough to deal with fierce criticism following a series of costly goalkeeping blunders for Manchester United, manager Ole Gunnar Solskjaer said on Tuesday.The 29-year-old Spaniard\'s place as United\'s number one is under severe pressure after he was at fault for two goals in United\'s 3-1 FA Cup semi-final defeat against Chelsea on Sunday. It came after other glaring errors over the past 18 months from De Gea, previously considered among the best goalkeepers in the world. Solskjaer, speaking at his pre-match press conference, was determined to keep the focus on Wednesday\'s game against West Ham rather than the struggles of his goalkeeper. "This is not going to become a David de Gea press conference," he said. "We\'re just going to stick together. We\'ve got two games, so we\'re just going to focus on that one. "David\'s mentally strong enough to know that his job is to perform in training the next day and then be ready for the games." Dean Henderson is snapping at De Gea\'s heels after impressing on loan at Sheffield United while Sergio Romero, the back-up goalkeeper surprisingly omitted from the FA Cup semi-final starting line-up, is waiting in the wings. Solskjaer has a significant decision to make about the position for their penultimate Premier League match of the season, given victory would give his fifth-placed side a huge boost in the Champions League race. Leicester\'s 3-0 loss at Tottenham on Sunday means United are not only level with the fourth-placed Foxes on 62 points but on goal difference as well, with the clubs going toe-to-toe at the King Power Stadium in fascinating season finale on Sunday. Solskjaer was under intense pressure himself earlier in the season but a long unbeaten run either side of the coronavirus shutdown has turned their campaign around. The Norwegian said it was clear that United were on the right track. "It is in our own hands," he said. "I don\'t want to talk about how much it (Champions League) will mean financially or to attract people. We just have to focus on the next two games and make sure we are there." Eric Bailly was taken to hospital after a nasty clash of heads with fellow United defender Harry Maguire on Sunday and Solskjaer said he was unlikely to feature against West Ham. "Eric stayed down in London after for all the checks," he said. "I didn\'t see him yesterday. He\'s following the protocols that\'s needed so, for me, I don\'t think that he\'ll be ready for this game."De Gea in firing line but Solskjaer stands by his manOle Gunnar Solskjaer says he will stick with error-prone Manchester United goalkeeper David de Gea but with a Champions League place at stake many are urging him to drop the Spaniard.The 29-year-old\'s blunders at Wembley on Sunday were a hammer blow for in-form United, who went down 3-1 to Frank Lampard\'s Chelsea in the FA Cup semi-final. De Gea allowed Olivier Giroud\'s shot to trickle over the line in the dying seconds of the first half and moments after the interval Mason Mount\'s shot evaded his weak attempted save. The Times described his performance as a "horror show". Solskjaer conceded De Gea should have saved Mount\'s goal but stood by the player, who recently surpassed Peter Schmeichel\'s United appearance record for an overseas player, excluding Irish footballers. "Of course," replied Solskjaer when asked whether he would keep faith with his number one, with Wednesday\'s Premier League clash against West Ham next up. "We have been unbeaten for 19 games and both (reserve goalkeeper) Sergio (Romero) and David (De Gea) have played really well in that run. "I can\'t speak for his confidence but he is mentally very strong." Outspoken United legend Roy Keane recently he was "sick to death" of De Gea after the Spaniard failed to keep out Steven Bergwijn\'s shot at Tottenham and other commentators now insist he must be taken out of the firing line. "He\'s unrecognisable from the \'keeper who won (club) four player of the year awards," former United defender Phil Neville told the BBC. "A confident, assured David de Gea saves all three goals. I would be worried, his inconsistency is costing United games." The experienced Romero is waiting in the wings, with two Premier League games remaining and a tight battle for the final two Champions League spots. Solskjaer might rue omitting the Argentine at Wembley, having started him in all the FA Cup ties before the semi-final. Victory over West Ham on Wednesday would see United climb above Leicester into the Champions League places. Alan Shearer thinks it is time to hand the gloves to English goalkeeper Dean Henderson, who has excelled while on loan from Manchester United at Sheffield United. The 23-year-old\'s 13 clean sheets have played a pivotal role in the Blades\' eye-catching return to the Premier League. "I think you only bring Dean Henderson back to Manchester United as the number one, or you keep him where he is to keep gaining experience," former England captain Shearer said on the BBC. "I think that time has come." Shearer\'s enthusiasm for Henderson to be handed the gloves contrasts with the warning words of United great Gary Neville. "That\'s a lonely old place out there to make a mistake if you\'re a Manchester United goalkeeper," Neville said last month in his role as a Sky pundit. "With respect to Sheffield United, it\'s very different to make a mistake there. "I\'ve seen it before with players during my time -- Peter Schmeichel at the beginning and Edwin van der Sar at the end. "In between that, there were real challenges for goalkeepers. "At times we had young goalkeepers who were talented but found it very difficult to cope with the scrutiny, the levels of concentration that are required." Former Chelsea and Ireland striker Tony Cascarino said De Gea needed to see a therapist to pull himself out of his spiral of decline. "I went through a period during my playing career when I just could not score goals and it took me a while to realise that I couldn\'t fix it on the training groun

In [ ]:
df_target = df['Resultado']

## Divide data in train and test and create vector to apply in TfidfVectorizer

In [ ]:
# Divide data in training and test
X_train, X_test, y_train, y_test = train_test_split(df,df_target, test_size=0.3, random_state=0,stratify= df_target)

In [ ]:
X_train.reset_index(drop = True,inplace = True)
y_train.reset_index(drop = True,inplace = True)
X_test.reset_index(drop = True,inplace = True)
y_test.reset_index(drop = True,inplace = True)

### Create a vector to use in train

In [ ]:
vector_train = vetor_lemma(X_train)

## Apply TfidfVectorizer

### Vectorizer for training

In [ ]:
# Fit vectorizer for train
vectorizer_train = TfidfVectorizer(stop_words={'english'},max_features=2000)
vectorizer_train.fit(vector_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=2000,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words={'english'}, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [ ]:
print(vectorizer_train.get_feature_names())
len(vectorizer_train.get_feature_names())

['aaron', 'ability', 'able', 'about', 'above', 'absence', 'absent', 'absolutely', 'abu', 'abuse', 'academy', 'accept', 'accord', 'account', 'accuse', 'achieve', 'achievement', 'acknowledge', 'acros', 'act', 'action', 'adam', 'adamant', 'adapt', 'add', 'added', 'adebayor', 'admit', 'adnan', 'adrift', 'advance', 'advantage', 'affect', 'afford', 'afp', 'african', 'after', 'afternoon', 'again', 'against', 'agbonlahor', 'age', 'agent', 'aggregate', 'ago', 'agree', 'aguero', 'ahead', 'aim', 'ajax', 'alan', 'albion', 'aleksandar', 'alex', 'alexi', 'alive', 'all', 'allardyce', 'allege', 'allen', 'allow', 'alltime', 'almost', 'along', 'alongside', 'already', 'also', 'although', 'alvaro', 'alway', 'amaze', 'ambition', 'amid', 'among', 'amount', 'an', 'analyse', 'and', 'ander', 'anderlecht', 'andre', 'andrea', 'andy', 'anelka', 'anfield', 'angel', 'angle', 'angry', 'ankle', 'anniversary', 'announce', 'another', 'answer', 'anthony', 'antonio', 'any', 'anyone', 'anythe', 'apart', 'apologise', 'appeal', 'appear', 'appearance', 'appearances', 'appoint', 'appointment', 'approach', 'april', 'are', 'area', 'arena', 'argentina', 'argentine', 'arm', 'arnautovic', 'around', 'arrival', 'arrive', 'arsenal', 'arsene', 'arteta', 'ashley', 'ask', 'assess', 'assist', 'assistant', 'association', 'assure', 'aston', 'at', 'athletic', 'atletico', 'atmosphere', 'attack', 'attempt', 'attention', 'attitude', 'august', 'available', 'avoid', 'award', 'aware', 'away', 'ba', 'bacary', 'back', 'backtoback', 'bad', 'badly', 'bailly', 'baine', 'balance', 'bale', 'ball', 'ban', 'bar', 'barca', 'barcelona', 'barkley', 'base', 'basel', 'bastian', 'battle', 'bayer', 'bayern', 'bbc', 'be', 'beat', 'because', 'beckham', 'become', 'before', 'begin', 'behaviour', 'behind', 'belgian', 'belgium', 'belief', 'believe', 'below', 'ben', 'bench', 'bend', 'benefit', 'benfica', 'benitez', 'benteke', 'berahino', 'bernardo', 'berth', 'best', 'better', 'between', 'beyond', 'bid', 'big', 'bigger', 'biggest', 'billion', 'birmingham', 'bit', 'bitter', 'black', 'blackburn', 'blame', 'blind', 'block', 'blow', 'blue', 'board', 'bobby', 'body', 'bolasie', 'bony', 'book', 'boost', 'borini', 'borussia', 'boss', 'both', 'bottom', 'bounce', 'bournemouth', 'box', 'boy', 'boyd', 'brace', 'brad', 'bravo', 'brazil', 'brazilian', 'breach', 'break', 'breakthrough', 'brendan', 'bridge', 'brighton', 'brilliant', 'brilliantly', 'bring', 'brink', 'britain', 'british', 'brom', 'bromwich', 'bruce', 'bruyne', 'build', 'buildup', 'bundesliga', 'burnley', 'burst', 'bus', 'busy', 'but', 'buy', 'by', 'caballero', 'cabaye', 'cahill', 'calf', 'call', 'calm', 'camp', 'campaign', 'campbell', 'can', 'cancel', 'cannot', 'cap', 'capable', 'capital', 'captain', 'card', 'cardiff', 'care', 'career', 'caretaker', 'carlo', 'carrick', 'carry', 'case', 'catalan', 'catch', 'cause', 'cech', 'celebrate', 'celebration', 'celta', 'celtic', 'central', 'centre', 'centreback', 'certain', 'certainly', 'chairman', 'challenge', 'champion', 'champions', 'championship', 'chance', 'chances', 'change', 'chant', 'character', 'charge', 'charlton', 'chase', 'chelsea', 'chief', 'chile', 'chilean', 'china', 'chip', 'choice', 'choose', 'chri', 'christian', 'christma', 'city', 'claim', 'clash', 'class', 'claudio', 'clean', 'clear', 'clearance', 'clearly', 'cleverley', 'clichy', 'climb', 'clinch', 'clinical', 'close', 'closer', 'closerange', 'closeseason', 'club', 'clubrecord', 'clubs', 'coach', 'coast', 'cole', 'coleman', 'collect', 'combine', 'come', 'comeback', 'comfortable', 'comment', 'commit', 'commitment', 'community', 'company', 'compare', 'compete', 'competition', 'competitions', 'competitive', 'complain', 'complaint', 'complete', 'completely', 'concede', 'concentrate', 'concern', 'condemn', 'condition', 'conduct', 'conference', 'confidence', 'confident', 'confirm', 'consecutive', 'consider', 'consistent', 'consolation', 'contact', 'conte', 'contender', 'contention', 'contest', 'continue', 'contract', 'contrast', 'contribute', 'contribution', 'control', 'controversial', 'convert', 'convince', 'cope', 'corner', 'cost', 'costa', 'count', 'counterattack', 'country', 'couple', 'course', 'court', 'courtesy', 'coutinho', 'cover', 'craig', 'crash', 'create', 'credit', 'cristiano', 'criticise', 'criticism', 'cross', 'crossbar', 'crowd', 'crown', 'crucial', 'crush', 'crystal', 'cska', 'cup', 'curl', 'current', 'currently', 'cut', 'daily', 'daley', 'damage', 'danger', 'dangerou', 'daniel', 'danny', 'darren', 'date', 'david', 'day', 'days', 'de', 'deadline', 'deadlock', 'deal', 'dean', 'death', 'debut', 'decade', 'december', 'decide', 'decision', 'decisive', 'declare', 'deep', 'defeat', 'defence', 'defend', 'defender', 'defensive', 'deficit', 'definitely', 'deflect', 'delight', 'deliver', 'delph', 'demand', 'demba', 'deny', 'departure', 'depay', 'depend', 'derby', 'describe', 'deserve', 'desire', 'desperate', 'despite', 'determine', 'develop', 'devil', 'di', 'did', 'die', 'diego', 'difference', 'different', 'difficult', 'direct', 'direction', 'director', 'disappoint', 'disappointment', 'disaster', 'discuss', 'dismiss', 'dismissal', 'display', 'distance', 'dive', 'division', 'do', 'domestic', 'dominant', 'dominate', 'done', 'donetsk', 'door', 'dortmund', 'double', 'doubt', 'doubtful', 'down', 'dramatic', 'draw', 'dream', 'dress', 'drill', 'drive', 'drop', 'drought', 'due', 'dure', 'dutch', 'dutchman', 'duty', 'dzeko', 'each', 'eager', 'earlier', 'early', 'earn', 'ease', 'easily', 'eastland', 'easy', 'eden', 'ederson', 'edge', 'edin', 'effect', 'effectively', 'effort', 'eight', 'eighth', 'either', 'eliminate', 'elite', 'else', 'elsewhere', 'embarrass', 'emerge', 'emirate', 'empty', 'enable', 'encounter', 'encourage', 'end', 'endure', 'energy', 'england', 'enjoy', 'enough', 'ensure', 'enter', 'entertain', 'equalise', 'equaliser', 'era', 'eric', 'eriksen', 'error', 'escape', 'especially', 'establish', 'etihad', 'eto', 'euro', 'europa', 'europe', 'european', 'euros', 'evan', 'even', 'event', 'eventually', 'ever', 'everton', 'every', 'everybody', 'everyone', 'everythe', 'everything', 'evidence', 'evra', 'exactly', 'example', 'excellent', 'exchange', 'excite', 'executive', 'exit', 'expect', 'expectation', 'experience', 'expire', 'explain', 'express', 'extend', 'extension', 'extra', 'extraordinary', 'eye', 'fa', 'fabian', 'fabio', 'face', 'fact', 'factor', 'fail', 'failure', 'fair', 'faith', 'falcao', 'fall', 'family', 'famou', 'fan', 'fans', 'fantastic', 'far', 'fashion', 'favour', 'favourite', 'fc', 'fear', 'feature', 'february', 'fee', 'feel', 'feet', 'fellaini', 'fellow', 'ferdinand', 'ferguson', 'fernandinho', 'fernando', 'few', 'field', 'fierce', 'fifa', 'fifth', 'fifthplace', 'fight', 'figure', 'fill', 'final', 'finalist', 'finally', 'financial', 'find', 'fine', 'finish', 'fire', 'first', 'firsthalf', 'firstteam', 'fit', 'fitnes', 'fitness', 'five', 'fixture', 'fixtures', 'flank', 'fletcher', 'flick', 'flight', 'fly', 'focus', 'focuse', 'foden', 'follow', 'foot', 'football', 'footballer', 'for', 'force', 'forget', 'form', 'formation', 'former', 'fortunate', 'fortune', 'forward', 'foul', 'four', 'fourth', 'fourthplace', 'fox', 'france', 'frank', 'free', 'freekick', 'french', 'frenchman', 'fresh', 'friday', 'friend', 'friendly', 'from', 'front', 'frustrate', 'frustration', 'fulham', 'full', 'fullback', 'fully', 'further', 'future', 'gaal', 'gabriel', 'gael', 'gain', 'game', 'games', 'gap', 'garde', 'gareth', 'gary', 'gather', 'gea', 'george', 'german', 'germany', 'gerrard', 'gesture', 'get', 'giant', 'gift', 'gigg', 'giggs', 'giroud', 'give', 'gloriou', 'glory', 'gmt', 'go', 'goal', 'goalkeeper', 'goalles', 'goalline', 'goals', 'goalscorer', 'golden', 'good', 'goodison', 'govern', 'grant', 'great', 'greater', 'grind', 'groin', 'ground', 'group', 'grow', 'gu', 'guarantee', 'guardiola', 'guide', 'guilty', 'gundogan', 'gunnar', 'gunner', 'gunners', 'guy', 'guzan', 'hail', 'half', 'halftime', 'ham', 'hammer', 'hamstring', 'hand', 'handle', 'hands', 'hang', 'happen', 'happened', 'happens', 'happy', 'hard', 'harry', 'hart', 'hattrick', 'have', 'hazard', 'he', 'head', 'header', 'hear', 'heart', 'heavy', 'helm', 'help', 'henderson', 'hennessey', 'henrikh', 'here', 'hernandez', 'herrera', 'hi', 'hiddink', 'high', 'highest', 'highlight', 'highprofile', 'hillsborough', 'him', 'himself', 'history', 'hit', 'hodgson', 'hold', 'holder', 'holland', 'home', 'honest', 'honour', 'hope', 'hopeful', 'hopefully', 'host', 'hosts', 'hotspur', 'hour', 'how', 'howard', 'however', 'huddersfield', 'huge', 'hughe', 'hugo', 'hull', 'humble', 'hurt', 'ian', 'ibrahimovic', 'idea', 'if', 'iheanacho', 'ilkay', 'immediate', 'immediately', 'impact', 'important', 'impossible', 'impress', 'impressive', 'improve', 'improvement', 'in', 'incident', 'include', 'increase', 'increasingly', 'incredible', 'individual', 'influence', 'inform', 'initial', 'initially', 'injure', 'injured', 'injuries', 'injury', 'inside', 'insist', 'inspire', 'instead', 'intense', 'intensity', 'inter', 'interest', 'interim', 'international', 'interval', 'interview', 'into', 'introduce', 'investigation', 'involve', 'ireland', 'is', 'issue', 'it', 'italian', 'italy', 'ivanovic', 'ivorian', 'ivory', 'jack', 'jame', 'james', 'jamie', 'january', 'januzaj', 'jason', 'javier', 'jesse', 'jesu', 'jesus', 'job', 'joe', 'joel', 'john', 'johnson', 'join', 'jone', 'jones', 'jonny', 'jordan', 'jose', 'jovetic', 'juan', 'judge', 'july', 'june', 'jurgen', 'just', 'juventu', 'juventus', 'kagawa', 'kane', 'keen', 'keep', 'keeper', 'kevin', 'key', 'kick', 'kickoff', 'kill', 'kind', 'king', 'klopp', 'knee', 'knock', 'knockout', 'know', 'koeman', 'kolarov', 'kompany', 'koscielny', 'kyle', 'la', 'lack', 'lad', 'lallana', 'lambert', 'lampard', 'land', 'lane', 'laporte', 'last', 'late', 'later', 'latest', 'latter', 'laudrup', 'launch', 'laurent', 'layer', 'lead', 'leader', 'leaders', 'league', 'learn', 'least', 'leave', 'lee', 'left', 'leftback', 'leftfoot', 'leg', 'legend', 'legendary', 'leicester', 'leighton', 'lengthy', 'leroy', 'les', 'let', 'level', 'leverkusen', 'lie', 'life', 'lift', 'liga', 'ligament', 'light', 'like', 'likely', 'limit', 'limp', 'line', 'lineup', 'lingard', 'link', 'list', 'little', 'live', 'liverpool', 'll', 'loan', 'local', 'london', 'long', 'longer', 'longrange', 'longterm', 'look', 'los', 'lose', 'loss', 'lot', 'loui', 'love', 'low', 'luck', 'lucky', 'lui', 'luiz', 'lukaku', 'luke', 'lyon', 'mackay', 'madrid', 'magnificent', 'maguire', 'mahrez', 'main', 'maintain', 'major', 'make', 'malky', 'man', 'manage', 'management', 'manager', 'managerial', 'managers', 'manchester', 'mane', 'mangala', 'manuel', 'many', 'march', 'marco', 'marcu', 'margin', 'maria', 'mark', 'market', 'marouane', 'martial', 'martin', 'martinez', 'mary', 'mason', 'massive', 'mata', 'match', 'matches', 'matic', 'matter', 'mauricio', 'may', 'maybe', 'me', 'mean', 'meanwhile', 'media', 'medical', 'meet', 'member', 'memorable', 'memory', 'memphi', 'men', 'mendy', 'mentality', 'merseyside', 'message', 'messi', 'mesut', 'michael', 'middle', 'middlesbrough', 'midfield', 'midfielder', 'midway', 'midweek', 'might', 'mignolet', 'mike', 'mikel', 'milan', 'mile', 'million', 'milner', 'mind', 'minor', 'minute', 'minutes', 'miss', 'mistake', 'mkhitaryan', 'mohame', 'moment', 'momentum', 'monaco', 'monday', 'money', 'month', 'months', 'mood', 'more', 'morgan', 'moscow', 'most', 'mount', 'mourinho', 'move', 'moye', 'moyes', 'much', 'munich', 'muscle', 'must', 'mutv', 'my', 'myself', 'name', 'napoli', 'narrowly', 'nasri', 'nathan', 'national', 'nava', 'nd', 'near', 'nearly', 'need', 'negredo', 'neil', 'nemanja', 'net', 'netherland', 'never', 'neville', 'new', 'newcastle', 'newspaper', 'next', 'nice', 'nicola', 'night', 'nine', 'ninth', 'no', 'nobody', 'normal', 'normally', 'north', 'norwegian', 'norwich', 'not', 'nothe', 'nou', 'november', 'now', 'number', 'oblige', 'obviously', 'occasion', 'october', 'of', 'off', 'offer', 'official', 'offside', 'often', 'ok', 'old', 'ole', 'olivier', 'olympiako', 'on', 'once', 'one', 'onloan', 'only', 'onto', 'open', 'opener', 'opinion', 'opponent', 'opponents', 'opportunity', 'opposition', 'optimistic', 'option', 'or', 'order', 'oscar', 'otamendi', 'other', 'our', 'ourselve', 'ourselves', 'out', 'outcome', 'outside', 'outstand', 'over', 'overall', 'overcome', 'oversee', 'overturn', 'own', 'owner', 'oxladechamberlain', 'ozil', 'pablo', 'pace', 'paid', 'pain', 'pair', 'palace', 'pantilimon', 'pardew', 'pari', 'park', 'parry', 'part', 'particularly', 'partner', 'pass', 'past', 'path', 'patrice', 'paul', 'pay', 'pellegrini', 'pen', 'penalty', 'people', 'pep', 'per', 'percent', 'perfect', 'perform', 'performance', 'perhap', 'period', 'permanent', 'persie', 'person', 'personal', 'peter', 'petr', 'phase', 'phil', 'philippe', 'philosophy', 'physical', 'pick', 'picture', 'pilsen', 'pitch', 'place', 'places', 'plan', 'play', 'played', 'player', 'players', 'playing', 'playmaker', 'playoff', 'please', 'plenty', 'pochettino', 'pogba', 'point', 'points', 'police', 'poor', 'porto', 'portuguese', 'pose', 'position', 'positive', 'possession', 'possibility', 'possible', 'post', 'postmatch', 'potential', 'potentially', 'power', 'powerful', 'poyet', 'praise', 'predecessor', 'prefer', 'prematch', 'premier', 'preparation', 'prepare', 'preseason', 'presence', 'present', 'press', 'pressure', 'pretty', 'prevail', 'prevent', 'previou', 'previously', 'price', 'prior', 'probably', 'problem', 'problems', 'process', 'produce', 'professional', 'programme', 'progress', 'promise', 'promote', 'promotion', 'prompt', 'prospect', 'protect', 'proud', 'prove', 'provide', 'psg', 'psv', 'public', 'puli', 'pulis', 'pull', 'puncheon', 'pundit', 'punish', 'punishment', 'push', 'put', 'putt', 'qpr', 'qualification', 'qualifier', 'qualify', 'quality', 'quarterfinal', 'quarterfinals', 'queen', 'question', 'quick', 'quickly', 'quite', 'race', 'racism', 'racist', 'radamel', 'rafael', 'raheem', 'raise', 'ramsey', 'range', 'ranieri', 'rare', 'rashford', 'rather', 'rd', 're', 'reach', 'react', 'reaction', 'read', 'ready', 'real', 'realise', 'reality', 'really', 'reason', 'rebound', 'recall', 'receive', 'recent', 'recently', 'record', 'recover', 'recovery', 'red', 'reduce', 'referee', 'reflect', 'refuse', 'regain', 'regard', 'register', 'regular', 'reign', 'reject', 'relation', 'relationship', 'release', 'relegate', 'relegation', 'relish', 'remain', 'remaining', 'remarkable', 'remember', 'remy', 'repeat', 'replace', 'replacement', 'replay', 'replied', 'reply', 'report', 'reportedly', 'reporter', 'represent', 'reputation', 'require', 'rescue', 'resign', 'respect', 'respectively', 'respond', 'response', 'responsibility', 'rest', 'restart', 'restore', 'result', 'results', 'resume', 'retain', 'retire', 'retirement', 'return', 'reveal', 'revenue', 'reverse', 'reward', 'richard', 'rickie', 'right', 'rightback', 'rio', 'rise', 'risk', 'rival', 'rivalry', 'rivals', 'road', 'robert', 'roberto', 'robin', 'rodger', 'rodgers', 'rodriguez', 'rojo', 'role', 'roll', 'roma', 'romelu', 'ronaldo', 'room', 'rooney', 'ros', 'round', 'rout', 'row', 'roy', 'rule', 'rumour', 'run', 'russia', 'russian', 'ryan', 'sack', 'sad', 'safe', 'safety', 'sagna', 'said', 'saint', 'saintgermain', 'sakho', 'salah', 'sale', 'sam', 'same', 'samir', 'samuel', 'sanchez', 'sane', 'sarri', 'saturday', 'save', 'say', 'saying', 'scare', 'schedule', 'schmeichel', 'schneiderlin', 'schole', 'schweinsteiger', 'score', 'scoreline', 'scorer', 'scot', 'scotland', 'scott', 'seal', 'search', 'season', 'seasons', 'seat', 'second', 'secondhalf', 'secondplace', 'secondtier', 'secure', 'see', 'seek', 'seem', 'select', 'selection', 'selhurst', 'sell', 'semifinal', 'semifinals', 'send', 'senior', 'sense', 'september', 'sergio', 'serie', 'seriou', 'serve', 'sery', 'session', 'set', 'setback', 'settle', 'seven', 'seventh', 'several', 'sevilla', 'shakhtar', 'shall', 'shape', 'share', 'shaw', 'sheet', 'sheffield', 'sherwood', 'shield', 'shine', 'shirt', 'shock', 'shoot', 'shootout', 'short', 'shortly', 'shot', 'should', 'shoulder', 'show', 'showdown', 'side', 'sideline', 'sight', 'sign', 'significant', 'signing', 'sigurdsson', 'silva', 'silverware', 'similar', 'simon', 'simple', 'since', 'single', 'sir', 'sit', 'situation', 'six', 'sixth', 'skipper', 'sky', 'slam', 'slide', 'slip', 'slot', 'slump', 'smal', 'small', 'smalling', 'smash', 'smile', 'snatch', 'so', 'social', 'soldado', 'solskjaer', 'some', 'someone', 'somethe', 'sometime', 'son', 'soon', 'sorry', 'sort', 'south', 'southampton', 'southgate', 'space', 'spain', 'spaniard', 'spanish', 'spare', 'spark', 'speak', 'special', 'speculation', 'spell', 'spend', 'speroni', 'spirit', 'sport', 'sports', 'spot', 'spotkick', 'spur', 'spurs', 'squad', 'squander', 'square', 'st', 'stadium', 'staff', 'stage', 'stages', 'stake', 'stamford', 'stand', 'standard', 'star', 'start', 'state', 'statement', 'statu', 'stay', 'steal', 'steer', 'step', 'sterle', 'sterling', 'stevan', 'steve', 'steven', 'stick', 'still', 'stoke', 'stone', 'stop', 'stoppage', 'stoppagetime', 'storm', 'story', 'straight', 'strain', 'streak', 'strength', 'strengthen', 'stretch', 'stretcher', 'strike', 'striker', 'stroke', 'strong', 'stronger', 'strongly', 'struggle', 'struggler', 'stun', 'sturridge', 'style', 'suarez', 'subject', 'substitute', 'succeed', 'succes', 'success', 'successful', 'succession', 'successive', 'successor', 'such', 'suffer', 'suggest', 'suggestion', 'summer', 'summit', 'sunday', 'sunderland', 'super', 'superb', 'support', 'supporter', 'supporters', 'sure', 'surge', 'surgery', 'surprise', 'surround', 'survival', 'survive', 'suspend', 'suspension', 'sustain', 'swansea', 'sweep', 'switch', 'system', 'szczesny', 'table', 'tackle', 'take', 'talent', 'talk', 'tally', 'tan', 'tap', 'target', 'task', 'taste', 'taylor', 'team', 'teammate', 'teammates', 'teams', 'technology', 'tee', 'teenager', 'television', 'tell', 'term', 'terry', 'test', 'th', 'than', 'thank', 'that', 'the', 'their', 'them', 'themselve', 'then', 'theo', 'there', 'these', 'they', 'thi', 'thigh', 'thing', 'things', 'think', 'third', 'thirdplace', 'thirdtier', 'this', 'thminute', 'thoma', 'those', 'though', 'thought', 'thrash', 'threat', 'threaten', 'three', 'thrill', 'through', 'throughout', 'throw', 'thursday', 'thwart', 'tie', 'tier', 'tight', 'tim', 'time', 'times', 'tip', 'title', 'titles', 'to', 'today', 'together', 'tom', 'tomorrow', 'tonight', 'tony', 'too', 'top', 'topflight', 'topfour', 'torre', 'total', 'tottenham', 'touch', 'touchline', 'tough', 'tour', 'toure', 'tournament', 'toward', 'town', 'townsend', 'track', 'trafford', 'trail', 'train', 'training', 'transfer', 'travel', 'treatment', 'treble', 'tribute', 'trip', 'triumph', 'trophy', 'trouble', 'true', 'trust', 'try', 'tuesday', 'turn', 'twice', 'twitter', 'two', 'twogoal', 'uefa', 'ukraine', 'unable', 'unbeaten', 'unbelievable', 'under', 'undergo', 'understand', 'unhappy', 'unite', 'united', 'unles', 'unlikely', 'unmark', 'unsettle', 'until', 'up', 'upon', 'upset', 'upton', 'urge', 'uruguayan', 'us', 'use', 'used', 'utd', 'valencia', 'van', 'var', 'vardy', 've', 'very', 'veteran', 'via', 'victor', 'victory', 'video', 'vidic', 'view', 'villa', 'villasboa', 'villasboas', 'vincent', 'visit', 'visitor', 'visitors', 'vital', 'volley', 'vow', 'wait', 'walcott', 'wale', 'walk', 'walker', 'want', 'warm', 'warn', 'was', 'watch', 'watford', 'way', 'wayne', 'we', 'wear', 'website', 'wednesday', 'week', 'weekend', 'weeks', 'welbeck', 'welcome', 'well', 'welsh', 'welshman', 'wembley', 'wenger', 'west', 'what', 'whatever', 'when', 'where', 'whether', 'which', 'while', 'whistle', 'white', 'who', 'whole', 'whom', 'whose', 'why', 'wickham', 'wide', 'widely', 'wigan', 'wilfry', 'will', 'willian', 'wilshere', 'wilson', 'win', 'window', 'winger', 'winner', 'winners', 'wins', 'wish', 'with', 'within', 'without', 'wolfsburg', 'wolve', 'wonderful', 'woodward', 'word', 'work', 'world', 'worry', 'worse', 'worst', 'worth', 'would', 'write', 'wrong', 'xi', 'yard', 'yards', 'yaya', 'year', 'yearold', '

2000

In [ ]:
# Transform training news in vectors
tf_noticias_home_train = vectorizer_train.transform(X_train['Noticias Home'])
tf_noticias_away_train = vectorizer_train.transform(X_train['Noticias Away'])

In [ ]:
# Transforms vectors to dense form
tfnoticiash_train = tf_noticias_home_train.todense()
tfnoticiasa_train = tf_noticias_away_train.todense()
X_train_ok = np.hstack((tfnoticiash_train,tfnoticiasa_train))
y_train_ok = np.array(y_train)

### Vectorizer for testing

In [ ]:
# Fit vectorizer for test
vectorizer_test = TfidfVectorizer(stop_words={'english'},max_features=2000)
vectorizer_test.fit(vector_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=2000,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words={'english'}, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [ ]:
print(vectorizer_test.get_feature_names())
len(vectorizer_test.get_feature_names())

['aaron', 'ability', 'able', 'about', 'above', 'absence', 'absent', 'absolutely', 'abu', 'abuse', 'academy', 'accept', 'accord', 'account', 'accuse', 'achieve', 'achievement', 'acknowledge', 'acros', 'act', 'action', 'adam', 'adamant', 'adapt', 'add', 'added', 'adebayor', 'admit', 'adnan', 'adrift', 'advance', 'advantage', 'affect', 'afford', 'afp', 'african', 'after', 'afternoon', 'again', 'against', 'agbonlahor', 'age', 'agent', 'aggregate', 'ago', 'agree', 'aguero', 'ahead', 'aim', 'ajax', 'alan', 'albion', 'aleksandar', 'alex', 'alexi', 'alive', 'all', 'allardyce', 'allege', 'allen', 'allow', 'alltime', 'almost', 'along', 'alongside', 'already', 'also', 'although', 'alvaro', 'alway', 'amaze', 'ambition', 'amid', 'among', 'amount', 'an', 'analyse', 'and', 'ander', 'anderlecht', 'andre', 'andrea', 'andy', 'anelka', 'anfield', 'angel', 'angle', 'angry', 'ankle', 'anniversary', 'announce', 'another', 'answer', 'anthony', 'antonio', 'any', 'anyone', 'anythe', 'apart', 'apologise', 'appeal', 'appear', 'appearance', 'appearances', 'appoint', 'appointment', 'approach', 'april', 'are', 'area', 'arena', 'argentina', 'argentine', 'arm', 'arnautovic', 'around', 'arrival', 'arrive', 'arsenal', 'arsene', 'arteta', 'ashley', 'ask', 'assess', 'assist', 'assistant', 'association', 'assure', 'aston', 'at', 'athletic', 'atletico', 'atmosphere', 'attack', 'attempt', 'attention', 'attitude', 'august', 'available', 'avoid', 'award', 'aware', 'away', 'ba', 'bacary', 'back', 'backtoback', 'bad', 'badly', 'bailly', 'baine', 'balance', 'bale', 'ball', 'ban', 'bar', 'barca', 'barcelona', 'barkley', 'base', 'basel', 'bastian', 'battle', 'bayer', 'bayern', 'bbc', 'be', 'beat', 'because', 'beckham', 'become', 'before', 'begin', 'behaviour', 'behind', 'belgian', 'belgium', 'belief', 'believe', 'below', 'ben', 'bench', 'bend', 'benefit', 'benfica', 'benitez', 'benteke', 'berahino', 'bernardo', 'berth', 'best', 'better', 'between', 'beyond', 'bid', 'big', 'bigger', 'biggest', 'billion', 'birmingham', 'bit', 'bitter', 'black', 'blackburn', 'blame', 'blind', 'block', 'blow', 'blue', 'board', 'bobby', 'body', 'bolasie', 'bony', 'book', 'boost', 'borini', 'borussia', 'boss', 'both', 'bottom', 'bounce', 'bournemouth', 'box', 'boy', 'boyd', 'brace', 'brad', 'bravo', 'brazil', 'brazilian', 'breach', 'break', 'breakthrough', 'brendan', 'bridge', 'brighton', 'brilliant', 'brilliantly', 'bring', 'brink', 'britain', 'british', 'brom', 'bromwich', 'bruce', 'bruyne', 'build', 'buildup', 'bundesliga', 'burnley', 'burst', 'bus', 'busy', 'but', 'buy', 'by', 'caballero', 'cabaye', 'cahill', 'calf', 'call', 'calm', 'camp', 'campaign', 'campbell', 'can', 'cancel', 'cannot', 'cap', 'capable', 'capital', 'captain', 'card', 'cardiff', 'care', 'career', 'caretaker', 'carlo', 'carrick', 'carry', 'case', 'catalan', 'catch', 'cause', 'cech', 'celebrate', 'celebration', 'celta', 'celtic', 'central', 'centre', 'centreback', 'certain', 'certainly', 'chairman', 'challenge', 'champion', 'champions', 'championship', 'chance', 'chances', 'change', 'chant', 'character', 'charge', 'charlton', 'chase', 'chelsea', 'chief', 'chile', 'chilean', 'china', 'chip', 'choice', 'choose', 'chri', 'christian', 'christma', 'city', 'claim', 'clash', 'class', 'claudio', 'clean', 'clear', 'clearance', 'clearly', 'cleverley', 'clichy', 'climb', 'clinch', 'clinical', 'close', 'closer', 'closerange', 'closeseason', 'club', 'clubrecord', 'clubs', 'coach', 'coast', 'cole', 'coleman', 'collect', 'combine', 'come', 'comeback', 'comfortable', 'comment', 'commit', 'commitment', 'community', 'company', 'compare', 'compete', 'competition', 'competitions', 'competitive', 'complain', 'complaint', 'complete', 'completely', 'concede', 'concentrate', 'concern', 'condemn', 'condition', 'conduct', 'conference', 'confidence', 'confident', 'confirm', 'consecutive', 'consider', 'consistent', 'consolation', 'contact', 'conte', 'contender', 'contention', 'contest', 'continue', 'contract', 'contrast', 'contribute', 'contribution', 'control', 'controversial', 'convert', 'convince', 'cope', 'corner', 'cost', 'costa', 'count', 'counterattack', 'country', 'couple', 'course', 'court', 'courtesy', 'coutinho', 'cover', 'craig', 'crash', 'create', 'credit', 'cristiano', 'criticise', 'criticism', 'cross', 'crossbar', 'crowd', 'crown', 'crucial', 'crush', 'crystal', 'cska', 'cup', 'curl', 'current', 'currently', 'cut', 'daily', 'daley', 'damage', 'danger', 'dangerou', 'daniel', 'danny', 'darren', 'date', 'david', 'day', 'days', 'de', 'deadline', 'deadlock', 'deal', 'dean', 'death', 'debut', 'decade', 'december', 'decide', 'decision', 'decisive', 'declare', 'deep', 'defeat', 'defence', 'defend', 'defender', 'defensive', 'deficit', 'definitely', 'deflect', 'delight', 'deliver', 'delph', 'demand', 'demba', 'deny', 'departure', 'depay', 'depend', 'derby', 'describe', 'deserve', 'desire', 'desperate', 'despite', 'determine', 'develop', 'devil', 'di', 'did', 'die', 'diego', 'difference', 'different', 'difficult', 'direct', 'direction', 'director', 'disappoint', 'disappointment', 'disaster', 'discuss', 'dismiss', 'dismissal', 'display', 'distance', 'dive', 'division', 'do', 'domestic', 'dominant', 'dominate', 'done', 'donetsk', 'door', 'dortmund', 'double', 'doubt', 'doubtful', 'down', 'dramatic', 'draw', 'dream', 'dress', 'drill', 'drive', 'drop', 'drought', 'due', 'dure', 'dutch', 'dutchman', 'duty', 'dzeko', 'each', 'eager', 'earlier', 'early', 'earn', 'ease', 'easily', 'eastland', 'easy', 'eden', 'ederson', 'edge', 'edin', 'effect', 'effectively', 'effort', 'eight', 'eighth', 'either', 'eliminate', 'elite', 'else', 'elsewhere', 'embarrass', 'emerge', 'emirate', 'empty', 'enable', 'encounter', 'encourage', 'end', 'endure', 'energy', 'england', 'enjoy', 'enough', 'ensure', 'enter', 'entertain', 'equalise', 'equaliser', 'era', 'eric', 'eriksen', 'error', 'escape', 'especially', 'establish', 'etihad', 'eto', 'euro', 'europa', 'europe', 'european', 'euros', 'evan', 'even', 'event', 'eventually', 'ever', 'everton', 'every', 'everybody', 'everyone', 'everythe', 'everything', 'evidence', 'evra', 'exactly', 'example', 'excellent', 'exchange', 'excite', 'executive', 'exit', 'expect', 'expectation', 'experience', 'expire', 'explain', 'express', 'extend', 'extension', 'extra', 'extraordinary', 'eye', 'fa', 'fabian', 'fabio', 'face', 'fact', 'factor', 'fail', 'failure', 'fair', 'faith', 'falcao', 'fall', 'family', 'famou', 'fan', 'fans', 'fantastic', 'far', 'fashion', 'favour', 'favourite', 'fc', 'fear', 'feature', 'february', 'fee', 'feel', 'feet', 'fellaini', 'fellow', 'ferdinand', 'ferguson', 'fernandinho', 'fernando', 'few', 'field', 'fierce', 'fifa', 'fifth', 'fifthplace', 'fight', 'figure', 'fill', 'final', 'finalist', 'finally', 'financial', 'find', 'fine', 'finish', 'fire', 'first', 'firsthalf', 'firstteam', 'fit', 'fitnes', 'fitness', 'five', 'fixture', 'fixtures', 'flank', 'fletcher', 'flick', 'flight', 'fly', 'focus', 'focuse', 'foden', 'follow', 'foot', 'football', 'footballer', 'for', 'force', 'forget', 'form', 'formation', 'former', 'fortunate', 'fortune', 'forward', 'foul', 'four', 'fourth', 'fourthplace', 'fox', 'france', 'frank', 'free', 'freekick', 'french', 'frenchman', 'fresh', 'friday', 'friend', 'friendly', 'from', 'front', 'frustrate', 'frustration', 'fulham', 'full', 'fullback', 'fully', 'further', 'future', 'gaal', 'gabriel', 'gael', 'gain', 'game', 'games', 'gap', 'garde', 'gareth', 'gary', 'gather', 'gea', 'george', 'german', 'germany', 'gerrard', 'gesture', 'get', 'giant', 'gift', 'gigg', 'giggs', 'giroud', 'give', 'gloriou', 'glory', 'gmt', 'go', 'goal', 'goalkeeper', 'goalles', 'goalline', 'goals', 'goalscorer', 'golden', 'good', 'goodison', 'govern', 'grant', 'great', 'greater', 'grind', 'groin', 'ground', 'group', 'grow', 'gu', 'guarantee', 'guardiola', 'guide', 'guilty', 'gundogan', 'gunnar', 'gunner', 'gunners', 'guy', 'guzan', 'hail', 'half', 'halftime', 'ham', 'hammer', 'hamstring', 'hand', 'handle', 'hands', 'hang', 'happen', 'happened', 'happens', 'happy', 'hard', 'harry', 'hart', 'hattrick', 'have', 'hazard', 'he', 'head', 'header', 'hear', 'heart', 'heavy', 'helm', 'help', 'henderson', 'hennessey', 'henrikh', 'here', 'hernandez', 'herrera', 'hi', 'hiddink', 'high', 'highest', 'highlight', 'highprofile', 'hillsborough', 'him', 'himself', 'history', 'hit', 'hodgson', 'hold', 'holder', 'holland', 'home', 'honest', 'honour', 'hope', 'hopeful', 'hopefully', 'host', 'hosts', 'hotspur', 'hour', 'how', 'howard', 'however', 'huddersfield', 'huge', 'hughe', 'hugo', 'hull', 'humble', 'hurt', 'ian', 'ibrahimovic', 'idea', 'if', 'iheanacho', 'ilkay', 'immediate', 'immediately', 'impact', 'important', 'impossible', 'impress', 'impressive', 'improve', 'improvement', 'in', 'incident', 'include', 'increase', 'increasingly', 'incredible', 'individual', 'influence', 'inform', 'initial', 'initially', 'injure', 'injured', 'injuries', 'injury', 'inside', 'insist', 'inspire', 'instead', 'intense', 'intensity', 'inter', 'interest', 'interim', 'international', 'interval', 'interview', 'into', 'introduce', 'investigation', 'involve', 'ireland', 'is', 'issue', 'it', 'italian', 'italy', 'ivanovic', 'ivorian', 'ivory', 'jack', 'jame', 'james', 'jamie', 'january', 'januzaj', 'jason', 'javier', 'jesse', 'jesu', 'jesus', 'job', 'joe', 'joel', 'john', 'johnson', 'join', 'jone', 'jones', 'jonny', 'jordan', 'jose', 'jovetic', 'juan', 'judge', 'july', 'june', 'jurgen', 'just', 'juventu', 'juventus', 'kagawa', 'kane', 'keen', 'keep', 'keeper', 'kevin', 'key', 'kick', 'kickoff', 'kill', 'kind', 'king', 'klopp', 'knee', 'knock', 'knockout', 'know', 'koeman', 'kolarov', 'kompany', 'koscielny', 'kyle', 'la', 'lack', 'lad', 'lallana', 'lambert', 'lampard', 'land', 'lane', 'laporte', 'last', 'late', 'later', 'latest', 'latter', 'laudrup', 'launch', 'laurent', 'layer', 'lead', 'leader', 'leaders', 'league', 'learn', 'least', 'leave', 'lee', 'left', 'leftback', 'leftfoot', 'leg', 'legend', 'legendary', 'leicester', 'leighton', 'lengthy', 'leroy', 'les', 'let', 'level', 'leverkusen', 'lie', 'life', 'lift', 'liga', 'ligament', 'light', 'like', 'likely', 'limit', 'limp', 'line', 'lineup', 'lingard', 'link', 'list', 'little', 'live', 'liverpool', 'll', 'loan', 'local', 'london', 'long', 'longer', 'longrange', 'longterm', 'look', 'los', 'lose', 'loss', 'lot', 'loui', 'love', 'low', 'luck', 'lucky', 'lui', 'luiz', 'lukaku', 'luke', 'lyon', 'mackay', 'madrid', 'magnificent', 'maguire', 'mahrez', 'main', 'maintain', 'major', 'make', 'malky', 'man', 'manage', 'management', 'manager', 'managerial', 'managers', 'manchester', 'mane', 'mangala', 'manuel', 'many', 'march', 'marco', 'marcu', 'margin', 'maria', 'mark', 'market', 'marouane', 'martial', 'martin', 'martinez', 'mary', 'mason', 'massive', 'mata', 'match', 'matches', 'matic', 'matter', 'mauricio', 'may', 'maybe', 'me', 'mean', 'meanwhile', 'media', 'medical', 'meet', 'member', 'memorable', 'memory', 'memphi', 'men', 'mendy', 'mentality', 'merseyside', 'message', 'messi', 'mesut', 'michael', 'middle', 'middlesbrough', 'midfield', 'midfielder', 'midway', 'midweek', 'might', 'mignolet', 'mike', 'mikel', 'milan', 'mile', 'million', 'milner', 'mind', 'minor', 'minute', 'minutes', 'miss', 'mistake', 'mkhitaryan', 'mohame', 'moment', 'momentum', 'monaco', 'monday', 'money', 'month', 'months', 'mood', 'more', 'morgan', 'moscow', 'most', 'mount', 'mourinho', 'move', 'moye', 'moyes', 'much', 'munich', 'muscle', 'must', 'mutv', 'my', 'myself', 'name', 'napoli', 'narrowly', 'nasri', 'nathan', 'national', 'nava', 'nd', 'near', 'nearly', 'need', 'negredo', 'neil', 'nemanja', 'net', 'netherland', 'never', 'neville', 'new', 'newcastle', 'newspaper', 'next', 'nice', 'nicola', 'night', 'nine', 'ninth', 'no', 'nobody', 'normal', 'normally', 'north', 'norwegian', 'norwich', 'not', 'nothe', 'nou', 'november', 'now', 'number', 'oblige', 'obviously', 'occasion', 'october', 'of', 'off', 'offer', 'official', 'offside', 'often', 'ok', 'old', 'ole', 'olivier', 'olympiako', 'on', 'once', 'one', 'onloan', 'only', 'onto', 'open', 'opener', 'opinion', 'opponent', 'opponents', 'opportunity', 'opposition', 'optimistic', 'option', 'or', 'order', 'oscar', 'otamendi', 'other', 'our', 'ourselve', 'ourselves', 'out', 'outcome', 'outside', 'outstand', 'over', 'overall', 'overcome', 'oversee', 'overturn', 'own', 'owner', 'oxladechamberlain', 'ozil', 'pablo', 'pace', 'paid', 'pain', 'pair', 'palace', 'pantilimon', 'pardew', 'pari', 'park', 'parry', 'part', 'particularly', 'partner', 'pass', 'past', 'path', 'patrice', 'paul', 'pay', 'pellegrini', 'pen', 'penalty', 'people', 'pep', 'per', 'percent', 'perfect', 'perform', 'performance', 'perhap', 'period', 'permanent', 'persie', 'person', 'personal', 'peter', 'petr', 'phase', 'phil', 'philippe', 'philosophy', 'physical', 'pick', 'picture', 'pilsen', 'pitch', 'place', 'places', 'plan', 'play', 'played', 'player', 'players', 'playing', 'playmaker', 'playoff', 'please', 'plenty', 'pochettino', 'pogba', 'point', 'points', 'police', 'poor', 'porto', 'portuguese', 'pose', 'position', 'positive', 'possession', 'possibility', 'possible', 'post', 'postmatch', 'potential', 'potentially', 'power', 'powerful', 'poyet', 'praise', 'predecessor', 'prefer', 'prematch', 'premier', 'preparation', 'prepare', 'preseason', 'presence', 'present', 'press', 'pressure', 'pretty', 'prevail', 'prevent', 'previou', 'previously', 'price', 'prior', 'probably', 'problem', 'problems', 'process', 'produce', 'professional', 'programme', 'progress', 'promise', 'promote', 'promotion', 'prompt', 'prospect', 'protect', 'proud', 'prove', 'provide', 'psg', 'psv', 'public', 'puli', 'pulis', 'pull', 'puncheon', 'pundit', 'punish', 'punishment', 'push', 'put', 'putt', 'qpr', 'qualification', 'qualifier', 'qualify', 'quality', 'quarterfinal', 'quarterfinals', 'queen', 'question', 'quick', 'quickly', 'quite', 'race', 'racism', 'racist', 'radamel', 'rafael', 'raheem', 'raise', 'ramsey', 'range', 'ranieri', 'rare', 'rashford', 'rather', 'rd', 're', 'reach', 'react', 'reaction', 'read', 'ready', 'real', 'realise', 'reality', 'really', 'reason', 'rebound', 'recall', 'receive', 'recent', 'recently', 'record', 'recover', 'recovery', 'red', 'reduce', 'referee', 'reflect', 'refuse', 'regain', 'regard', 'register', 'regular', 'reign', 'reject', 'relation', 'relationship', 'release', 'relegate', 'relegation', 'relish', 'remain', 'remaining', 'remarkable', 'remember', 'remy', 'repeat', 'replace', 'replacement', 'replay', 'replied', 'reply', 'report', 'reportedly', 'reporter', 'represent', 'reputation', 'require', 'rescue', 'resign', 'respect', 'respectively', 'respond', 'response', 'responsibility', 'rest', 'restart', 'restore', 'result', 'results', 'resume', 'retain', 'retire', 'retirement', 'return', 'reveal', 'revenue', 'reverse', 'reward', 'richard', 'rickie', 'right', 'rightback', 'rio', 'rise', 'risk', 'rival', 'rivalry', 'rivals', 'road', 'robert', 'roberto', 'robin', 'rodger', 'rodgers', 'rodriguez', 'rojo', 'role', 'roll', 'roma', 'romelu', 'ronaldo', 'room', 'rooney', 'ros', 'round', 'rout', 'row', 'roy', 'rule', 'rumour', 'run', 'russia', 'russian', 'ryan', 'sack', 'sad', 'safe', 'safety', 'sagna', 'said', 'saint', 'saintgermain', 'sakho', 'salah', 'sale', 'sam', 'same', 'samir', 'samuel', 'sanchez', 'sane', 'sarri', 'saturday', 'save', 'say', 'saying', 'scare', 'schedule', 'schmeichel', 'schneiderlin', 'schole', 'schweinsteiger', 'score', 'scoreline', 'scorer', 'scot', 'scotland', 'scott', 'seal', 'search', 'season', 'seasons', 'seat', 'second', 'secondhalf', 'secondplace', 'secondtier', 'secure', 'see', 'seek', 'seem', 'select', 'selection', 'selhurst', 'sell', 'semifinal', 'semifinals', 'send', 'senior', 'sense', 'september', 'sergio', 'serie', 'seriou', 'serve', 'sery', 'session', 'set', 'setback', 'settle', 'seven', 'seventh', 'several', 'sevilla', 'shakhtar', 'shall', 'shape', 'share', 'shaw', 'sheet', 'sheffield', 'sherwood', 'shield', 'shine', 'shirt', 'shock', 'shoot', 'shootout', 'short', 'shortly', 'shot', 'should', 'shoulder', 'show', 'showdown', 'side', 'sideline', 'sight', 'sign', 'significant', 'signing', 'sigurdsson', 'silva', 'silverware', 'similar', 'simon', 'simple', 'since', 'single', 'sir', 'sit', 'situation', 'six', 'sixth', 'skipper', 'sky', 'slam', 'slide', 'slip', 'slot', 'slump', 'smal', 'small', 'smalling', 'smash', 'smile', 'snatch', 'so', 'social', 'soldado', 'solskjaer', 'some', 'someone', 'somethe', 'sometime', 'son', 'soon', 'sorry', 'sort', 'south', 'southampton', 'southgate', 'space', 'spain', 'spaniard', 'spanish', 'spare', 'spark', 'speak', 'special', 'speculation', 'spell', 'spend', 'speroni', 'spirit', 'sport', 'sports', 'spot', 'spotkick', 'spur', 'spurs', 'squad', 'squander', 'square', 'st', 'stadium', 'staff', 'stage', 'stages', 'stake', 'stamford', 'stand', 'standard', 'star', 'start', 'state', 'statement', 'statu', 'stay', 'steal', 'steer', 'step', 'sterle', 'sterling', 'stevan', 'steve', 'steven', 'stick', 'still', 'stoke', 'stone', 'stop', 'stoppage', 'stoppagetime', 'storm', 'story', 'straight', 'strain', 'streak', 'strength', 'strengthen', 'stretch', 'stretcher', 'strike', 'striker', 'stroke', 'strong', 'stronger', 'strongly', 'struggle', 'struggler', 'stun', 'sturridge', 'style', 'suarez', 'subject', 'substitute', 'succeed', 'succes', 'success', 'successful', 'succession', 'successive', 'successor', 'such', 'suffer', 'suggest', 'suggestion', 'summer', 'summit', 'sunday', 'sunderland', 'super', 'superb', 'support', 'supporter', 'supporters', 'sure', 'surge', 'surgery', 'surprise', 'surround', 'survival', 'survive', 'suspend', 'suspension', 'sustain', 'swansea', 'sweep', 'switch', 'system', 'szczesny', 'table', 'tackle', 'take', 'talent', 'talk', 'tally', 'tan', 'tap', 'target', 'task', 'taste', 'taylor', 'team', 'teammate', 'teammates', 'teams', 'technology', 'tee', 'teenager', 'television', 'tell', 'term', 'terry', 'test', 'th', 'than', 'thank', 'that', 'the', 'their', 'them', 'themselve', 'then', 'theo', 'there', 'these', 'they', 'thi', 'thigh', 'thing', 'things', 'think', 'third', 'thirdplace', 'thirdtier', 'this', 'thminute', 'thoma', 'those', 'though', 'thought', 'thrash', 'threat', 'threaten', 'three', 'thrill', 'through', 'throughout', 'throw', 'thursday', 'thwart', 'tie', 'tier', 'tight', 'tim', 'time', 'times', 'tip', 'title', 'titles', 'to', 'today', 'together', 'tom', 'tomorrow', 'tonight', 'tony', 'too', 'top', 'topflight', 'topfour', 'torre', 'total', 'tottenham', 'touch', 'touchline', 'tough', 'tour', 'toure', 'tournament', 'toward', 'town', 'townsend', 'track', 'trafford', 'trail', 'train', 'training', 'transfer', 'travel', 'treatment', 'treble', 'tribute', 'trip', 'triumph', 'trophy', 'trouble', 'true', 'trust', 'try', 'tuesday', 'turn', 'twice', 'twitter', 'two', 'twogoal', 'uefa', 'ukraine', 'unable', 'unbeaten', 'unbelievable', 'under', 'undergo', 'understand', 'unhappy', 'unite', 'united', 'unles', 'unlikely', 'unmark', 'unsettle', 'until', 'up', 'upon', 'upset', 'upton', 'urge', 'uruguayan', 'us', 'use', 'used', 'utd', 'valencia', 'van', 'var', 'vardy', 've', 'very', 'veteran', 'via', 'victor', 'victory', 'video', 'vidic', 'view', 'villa', 'villasboa', 'villasboas', 'vincent', 'visit', 'visitor', 'visitors', 'vital', 'volley', 'vow', 'wait', 'walcott', 'wale', 'walk', 'walker', 'want', 'warm', 'warn', 'was', 'watch', 'watford', 'way', 'wayne', 'we', 'wear', 'website', 'wednesday', 'week', 'weekend', 'weeks', 'welbeck', 'welcome', 'well', 'welsh', 'welshman', 'wembley', 'wenger', 'west', 'what', 'whatever', 'when', 'where', 'whether', 'which', 'while', 'whistle', 'white', 'who', 'whole', 'whom', 'whose', 'why', 'wickham', 'wide', 'widely', 'wigan', 'wilfry', 'will', 'willian', 'wilshere', 'wilson', 'win', 'window', 'winger', 'winner', 'winners', 'wins', 'wish', 'with', 'within', 'without', 'wolfsburg', 'wolve', 'wonderful', 'woodward', 'word', 'work', 'world', 'worry', 'worse', 'worst', 'worth', 'would', 'write', 'wrong', 'xi', 'yard', 'yards', 'yaya', 'year', 'yearold', '

2000

In [ ]:
# Transform test news in vectors
tf_noticias_home_test = vectorizer_train.transform(X_test['Noticias Home'])
tf_noticias_away_test = vectorizer_train.transform(X_test['Noticias Away'])

In [ ]:
# Transforms vectors to dense form
tfnoticiash_test = tf_noticias_home_test.todense()
tfnoticiasa_test = tf_noticias_away_test.todense()
X_test_ok = np.hstack((tfnoticiash_test,tfnoticiasa_test))
y_test_ok = np.array(y_test)

## Logistic Regression

### Use Cross Validation to find best parameters

In [ ]:
log_reg = LogisticRegression(random_state = 42, max_iter = 1000, multi_class = 'ovr')

# defining the search space
space = dict()
space['solver'] = ['lbfgs', 'newton-cg', 'liblinear']
space['penalty'] = ['l1', 'l2', 'elasticnet']
space['C'] = np.arange(10**-4, 20, 0.01)

# training the model and fitting our data to it
rscv = RandomizedSearchCV(log_reg, space, cv = 3, n_jobs = -1, n_iter = 100,verbose=2)
result = rscv.fit(X_train_ok, y_train_ok)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:   55.5s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  1.9min finished

In [ ]:
#best C and regularization
C = rscv.best_params_
c = C['C']
l_penalty = C['penalty']
l_solver = C['solver']

#printing c (best hyperparameter) and penalty
print("C: ", c, "\nPenalty: ", l_penalty)
print("Solver: ", l_solver)

C:  11.4301
Penalty:  l2
Solver:  newton-cg

### Traning Logistic Regression Model

In [ ]:
reg_log= LogisticRegression(solver= l_solver,random_state=0,penalty= l_penalty,C= c)
reg_log.fit(X_train_ok,y_train_ok)

LogisticRegression(C=11.4301, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

### Testing Logistic Regression Model

In [ ]:
predictions = reg_log.predict(X_test_ok)

In [ ]:
print(confusion_matrix(y_test_ok,predictions))  
print(classification_report(y_test_ok,predictions))  
print(accuracy_score(y_test_ok, predictions))

[[360   6  25]
 [185   2  15]
 [214   3  43]]
              precision    recall  f1-score   support

           1       0.47      0.92      0.63       391
           2       0.18      0.01      0.02       202
           3       0.52      0.17      0.25       260

    accuracy                           0.47       853
   macro avg       0.39      0.37      0.30       853
weighted avg       0.42      0.47      0.37       853

0.47479484173505276

# Using historic and news in Logistic Regression

## Concatenate historic with news

In [ ]:
# Function to apply dummies in FTR
def dummies_dfpt(d,x,y):
  if d[x][y] == 'H':
    d[x][y]=1
  elif d[x][y]=='D':
    d[x][y]=2
  elif d[x][y]=='A':
    d[x][y]=3

In [ ]:
# Using data as from 2013
dfpt = dfp[4758:]
dfpt.reset_index(drop=True,inplace=True)
for y in range(0,len(dfpt)):
    dummies_dfpt(dfpt,'FTR',y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
dfpt

            Date         HomeTeam  ... DiffFormPts  DiffLP
0     2013-01-01  Manchester City  ...   -0.100000   -13.0
1     2013-01-01      Southampton  ...   -0.350000    -3.0
2     2013-01-01          Swansea  ...    0.047619    -5.0
3     2013-01-01        Tottenham  ...    0.285714     4.0
4     2013-01-01        West Brom  ...    0.142857     1.0
...          ...              ...  ...         ...     ...
2837  2020-07-26        Leicester  ...   -0.105263     3.0
2838  2020-07-26  Manchester City  ...    0.315789     1.0
2839  2020-07-26        Newcastle  ...   -0.210526    11.0
2840  2020-07-26      Southampton  ...    0.052632    16.0
2841  2020-07-26         West Ham  ...    0.026316    10.0

[2842 rows x 46 columns]

In [ ]:
# Add NoticiasHome and NoticiasAway for dfpt
dfpt['Noticias Home']=df['Noticias Home']
dfpt['Noticias Away']= df['Noticias Away']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Drop games whitout news
for x in range(0,len(dfpt)):
  if dfpt['Noticias Home'][x]==' ' and dfpt['Noticias Away'][x]==' ':
      dfpt.drop(index=x,inplace= True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
dfpt.reset_index(drop = True, inplace= True)

In [ ]:
# Function to apply Dummies in "HM"and "AM" features
def m_dummies(x,y,w):
    if x[y][w] == 'W':
       x[y][w]=1
    elif x[y][w]=='D':
       x[y][w]=2
    elif x[y][w]=='L':
      x[y][w]=3
    elif x[y][w]=='M':
      x[y][w]=4

In [ ]:
#Apply Dummies in "HM"and "AM" features
new_dummies= ['HM1', 'AM1', 'HM2','AM2', 'HM3', 'AM3', 'HM4', 'AM4', 'HM5', 'AM5']
for x in new_dummies:
  for y in range(0,len(dfpt)):
     m_dummies(dfpt,x,y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Features to use in training
columns = ['HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'AM1', 'HM2',
       'AM2', 'HM3', 'AM3', 'HM4', 'AM4', 'HM5', 'AM5', 'HomeTeamLP', 'AwayTeamLP','HTGD', 'ATGD', 'DiffPts',
       'DiffFormPts', 'DiffLP','Noticias Home','Noticias Away']

In [ ]:
dfpt

           Date  ...                                      Noticias Away
0    2013-08-17  ...   Football: Bent joins Fulham on loan from Vill...
1    2013-08-17  ...   Football: Rooney returns as champs United hea...
2    2013-08-18  ...
3    2013-08-19  ...
4    2013-08-21  ...   Football: Liverpool complete Cissokho loan si...
..          ...  ...                                                ...
765  2020-07-22  ...
766  2020-07-26  ...
767  2020-07-26  ...   European football and survival up for grabs i...
768  2020-07-26  ...
769  2020-07-26  ...   Wolves bolster Europa League bid, Blades blun...

[770 rows x 48 columns]

## Divide train and test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(dfpt[columns],dfpt['FTR'], test_size=0.3, random_state=0,stratify=dfpt['FTR'])

In [ ]:
X_train.reset_index(drop = True,inplace = True)
y_train.reset_index(drop = True,inplace = True)
X_test.reset_index(drop = True,inplace = True)
y_test.reset_index(drop = True,inplace = True)

## Create vectors for Tfidf for train and test

In [ ]:
news_train = vetor_lemma(X_train)

### Vectorizer

#### Vectorizer in train news

In [ ]:
# Fit vectorizer for train
vectorizer_train = TfidfVectorizer(stop_words={'english'},max_features=2000)
vectorizer_train.fit(news_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=2000,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words={'english'}, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [ ]:
train_home = vectorizer_train.transform(X_train['Noticias Home'])
train_away = vectorizer_train.transform(X_train['Noticias Away'])

In [ ]:
# Transforms vectors to dense form
train_home_d = train_home.todense()
train_away_d = train_away.todense()
X_train_ok = np.hstack((train_home_d,train_away_d))
y_train_ok = np.array(y_train)

#### Vectorizer in test news

In [ ]:
test_home = vectorizer_train.transform(X_test['Noticias Home'])
test_away = vectorizer_train.transform(X_test['Noticias Away'])

In [ ]:
# Transforms vectors to dense form
test_home_d = test_home.todense()
test_away_d = test_away.todense()
X_test_ok = np.hstack((test_home_d,test_away_d))
y_test_ok = np.array(y_train)

### Add news in format of vectores in training

In [ ]:
# Create dataframe with matrix of news
dftrain = pd.DataFrame(X_train_ok)

In [ ]:
# Drop news in format of words
X_train.drop(columns=['Noticias Home','Noticias Away'],inplace=True)

In [ ]:
X_train =pd.concat((X_train,dftrain),ignore_index=True,axis=1)

In [ ]:
columns_news = ['HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'AM1', 'HM2',
       'AM2', 'HM3', 'AM3', 'HM4', 'AM4', 'HM5', 'AM5', 'HomeTeamLP', 'AwayTeamLP','HTGD', 'ATGD', 'DiffPts',
       'DiffFormPts', 'DiffLP']

In [ ]:
# back name for columns of historic
y = 0
for x in columns_news:
    X_train.rename(columns={y:x},inplace=True)
    y=y+1

In [ ]:
X_train

     HS  AS  HST  AST  HC  ...      4030      4031      4032      4033      4034
0    14  16    6    5   5  ...  0.000000  0.000000  0.000000  0.019349  0.000000
1    10  12    4    7   7  ...  0.000000  0.012222  0.014886  0.000000  0.002975
2    14  19    4    5   6  ...  0.000000  0.000000  0.000000  0.000000  0.000000
3    12   7    6    2   7  ...  0.000000  0.000000  0.000000  0.000000  0.000000
4    12  18    1    7   3  ...  0.000000  0.000000  0.000000  0.000000  0.000000
..   ..  ..  ...  ...  ..  ...       ...       ...       ...       ...       ...
534  10   7    4    4   6  ...  0.000000  0.000000  0.000000  0.000000  0.000000
535  22   9    7    4   5  ...  0.000000  0.000000  0.000000  0.000000  0.000000
536  12  11    2    3  10  ...  0.031806  0.000000  0.016057  0.000000  0.000000
537  22  14    4    7  11  ...  0.000000  0.000000  0.000000  0.000000  0.000000
538   9   7    3    1   3  ...  0.000000  0.000000  0.000000  0.000000  0.000000

[539 rows x 4035 columns]

### Add news in format of vectores is test

In [ ]:
# Create dataframe with matrix of news
dftest = pd.DataFrame(X_test_ok)

In [ ]:
# Drop news in format of words
X_test.drop(columns=['Noticias Home','Noticias Away'],inplace=True)

In [ ]:
X_test =pd.concat((X_test,dftest),ignore_index=True,axis=1)

In [ ]:
# back name for columns of historic
y = 0
for x in columns_news:
    X_test.rename(columns={y:x},inplace=True)
    y=y+1

In [ ]:
X_test

     HS  AS  HST  AST  HC  ...  4030      4031      4032      4033      4034
0    11  19    6    9   2  ...   0.0  0.000000  0.000000  0.000000  0.000000
1    28   3    7    0  12  ...   0.0  0.000000  0.000000  0.000000  0.000000
2    14  22    6    4   4  ...   0.0  0.000000  0.000000  0.008867  0.000000
3     3  11    2    6  11  ...   0.0  0.000000  0.000000  0.000000  0.000000
4    15  12    9    4   2  ...   0.0  0.000000  0.000000  0.000000  0.000000
..   ..  ..  ...  ...  ..  ...   ...       ...       ...       ...       ...
226   5  17    1    5   3  ...   0.0  0.000000  0.000000  0.000000  0.004162
227  22   9    5    2   5  ...   0.0  0.000000  0.000000  0.000000  0.000000
228  23   9    4    4  12  ...   0.0  0.012719  0.023236  0.000000  0.013929
229  22   6   12    0  13  ...   0.0  0.000000  0.000000  0.000000  0.000000
230  19  12    7    4  11  ...   0.0  0.000000  0.000000  0.000000  0.000000

[231 rows x 4035 columns]

## Applying Logistic Regression

### Use Cross Validation to find best parameters

In [ ]:
y_trainu =y_train.astype('int')

In [ ]:
log_reg = LogisticRegression(random_state = 42, max_iter = 1000, multi_class = 'ovr')

# defining the search space
space = dict()
space['solver'] = ['lbfgs','newton-cg', 'liblinear']
space['penalty'] = ['l1', 'l2', 'elasticnet']
space['C'] = np.arange(10**-4, 20, 0.01)

# training the model and fitting our data to it
rscv = RandomizedSearchCV(log_reg, space, cv = 3, n_jobs = -1, n_iter = 100,verbose=2)
result = rscv.fit(X_train,y_trainu)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   59.7s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  5.3min finished

In [ ]:
#best C and regularization
C = rscv.best_params_
c = C['C']
l_penalty = C['penalty']
l_solver = C['solver']

#printing c (best hyperparameter) and penalty
print("C: ", c, "\nPenalty: ", l_penalty)
print("Solver: ", l_solver)

C:  2.0401000000000002
Penalty:  l1
Solver:  liblinear

### Training model

In [ ]:
reg_log= LogisticRegression(solver=l_solver,random_state=0,penalty= l_penalty,C=c )
reg_log.fit(X_train,y_trainu)

LogisticRegression(C=2.0401000000000002, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l1',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

### Testing model

In [ ]:
y_testu=y_test.astype('int')

In [ ]:
predictions = reg_log.predict(X_test)
predictions2 = reg_log.predict(X_train)

In [ ]:
print(confusion_matrix(y_testu,predictions))  
print(classification_report(y_testu,predictions))  
print(accuracy_score(y_testu, predictions))
print(accuracy_score(y_trainu, predictions2))

[[85  6 14]
 [23  4 21]
 [14  8 56]]
              precision    recall  f1-score   support

           1       0.70      0.81      0.75       105
           2       0.22      0.08      0.12        48
           3       0.62      0.72      0.66        78

    accuracy                           0.63       231
   macro avg       0.51      0.54      0.51       231
weighted avg       0.57      0.63      0.59       231

0.6277056277056277
0.6957328385899815

## Using logistic regression whitout news

In [ ]:
X_train_wn = X_train[columns_news]

In [ ]:
X_test_wn = X_test[columns_news]

In [ ]:
log_reg2 = LogisticRegression(random_state = 42, max_iter = 1000, multi_class = 'ovr')

# defining the search space
space = dict()
space['solver'] = ['newton-cg', 'liblinear']
space['penalty'] = ['l1', 'l2', 'elasticnet']
space['C'] = np.arange(10**-4, 20, 0.01)

# training the model and fitting our data to it
rscv2 = RandomizedSearchCV(log_reg2, space, cv = 3, n_jobs = -1, n_iter = 100,verbose=2)
result2 = rscv2.fit(X_train_wn, y_trainu)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 220 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:   11.1s finished

In [ ]:
#best C and regularization
C2 = rscv2.best_params_
c2 = C2['C']
l_penalty2 = C2['penalty']
l_solver2 = C2['solver']

#printing c (best hyperparameter) and penalty
print("C: ", c2, "\nPenalty: ", l_penalty2)
print("Solver: ", l_solver2)

C:  2.3001000000000005
Penalty:  l2
Solver:  liblinear

In [ ]:
reg_log2= LogisticRegression(solver=l_solver2,random_state=0,penalty=l_penalty2,C=c2 )
reg_log2.fit(X_train_wn,y_trainu)

LogisticRegression(C=2.3001000000000005, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions2 = reg_log2.predict(X_test_wn)

In [ ]:
print(confusion_matrix(y_testu,predictions2))  
print(classification_report(y_testu,predictions2))  
print(accuracy_score(y_testu, predictions2))

[[87  7 11]
 [26  2 20]
 [15  8 55]]
              precision    recall  f1-score   support

           1       0.68      0.83      0.75       105
           2       0.12      0.04      0.06        48
           3       0.64      0.71      0.67        78

    accuracy                           0.62       231
   macro avg       0.48      0.53      0.49       231
weighted avg       0.55      0.62      0.58       231

0.6233766233766234